<div class="header">
    <p class="text-center font"><strong>สมัครสมาชิก</strong></p>

<div class="container ">
  <form (ngSubmit)="addUsers(dataForm)" #dataForm="ngForm">
    <div class="card jumsize2 shadow p">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="form-group row">
              <label class="mx-sm-3">ชื่อผู้ใช้งาน (Username)<font>*</font></label>
              <div class="col-7 ml-auto">
                <input type="text" class="form-control" placeholder="ควรประกอบด้วยตัวอักษร/ตัวเลขไม่เกิน 8 ตัวอักษร"
                  maxlength="8" name="users" ngModel>
                  <input type="hidden" class="form-control" name="count_login" ngModel="0">
                  <!-- <font [hidden]="checkuser">มีชื่อผู้ใช้นี้แล้ว</font> -->
              </div>
            </div>
            <div class="form-group row">
              <label class="mx-sm-3">รหัสผ่าน (Password)<font>*</font></label>
              <div class="col-7 ml-auto">
                <input type="password" class="form-control" placeholder="ควรมีความยาวอย่างน้อย 8-12 ตัวอักษร" maxlength="12"
                  name="pass" ngModel>
              </div>
            </div>
            <div class="form-group row">
              <label class="mx-sm-3">ยืนยันรหัสผ่าน (Confirm password)<font>*</font></label>
              <div class="col-7 ml-auto">
                <input type="password" class="form-control" placeholder="ยืนยันรหัสผ่านอีกครั้งเพื่อยืนยัน" maxlength="12" name="password" ngModel>
                <!-- <font [hidden]="checkpass">รหัสผ่านไม่ตรงกัน</font> -->
              </div>
            </div>
            <div class="form-group row">
              <label class="mx-sm-3">คำถามกรณีเมื่อลืมรหัส<font>*</font></label>
              <div class="col-7 ml-auto">
                <input type="text" class="form-control" placeholder="กรอกคำถามกรณีเมื่อลืมรหัส" name="question" ngModel>
              </div>
            </div>
            <div class="form-group row">
              <label class="mx-sm-3">คำตอบกรณีเมื่อลืมรหัส<font>*</font></label>
              <div class="col-7 ml-auto">
                <input type="text" class="form-control" placeholder="กรอกคำตอบกรณีเมื่อลืมรหัส" name="answer" ngModel>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label>ชื่อจริง (ภาษาไทย)<font>*</font></label>
                <input type="text" class="form-control" placeholder="กรอกชื่อจริงตามบัตรประชาชน" name="fname" ngModel>
              </div>
              <div class="form-group col">
                <label>นามสกุล (ภาษาไทย)<font>*</font></label>
                <input type="text" class="form-control" placeholder="กรอกนามสกุลตามบัตรประชาชน" name="lname" ngModel>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-row">
              <div class="form-group col">
                <label>เพศ<font>*</font></label>
                <select class="form-control" name="gender" ngModel="ชาย">
                  <option selected value="ชาย">ชาย</option>
                  <option value="หญิง">หญิง</option>
                </select>
              </div>
              <div class="form-group col">
                <label>วัน/เดือน/ปีเกิด<font>*</font></label>
                <input type="date" class="form-control" name="day_of_birth" ngModel style="height: 35px">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label>เลขบัตรประจำตัวประชาชน<font>*</font></label>
                <input type="text" class="form-control" placeholder="เลขบัตรประจำตัวประชาชน 13 หลัก" maxlength="13"
                  name="id_code" ngModel>
              </div>
              <div class="form_group col">
                <label>อีเมล<font>*</font></label>
                <input type="email" class="form-control" placeholder="เช่น example@hotmail.com" name="email" ngModel>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label>ที่อยู่<font>*</font></label>
                <textarea type="text" class="form-control" placeholder="กรอกที่อยู่ปัจจุบันที่สามารถติดต่อได้" name="address"
                  ngModel></textarea>
              </div>
              <div class="form_group col">
                <label>เบอร์โทรศัพท์<font>*</font></label>
                <input type="text" class="form-control mb-2" placeholder="กรอกเบอร์โทรศัพท์ที่สามารถติดต่อได้"
                  maxlength="10" name="mobile" ngModel>
                <label>แฟ็ก (Fax)</label>
                <input type="text" class="form-control" placeholder="กรอกแฟ็กที่สามารถติดต่อได้" maxlength="9" name="fax"
                  ngModel>
              </div>
            </div>
          </div>
          <div class="form-group row" hidden>     <!-- ตัวกำหนดสิทธิ์ผู้ใช้งาน -->
            <label class="mx-sm-3">ตัวกำหนดสิทธิ์ผู้ใช้งาน</label>
            <div class="col-8 ml-auto">
              <select class="form-control" name="privilege_id" ngModel="0">
                <option selected value="0">ผู้ใช้งานที่ยังไม่ได้ยืนยันสิทธิ์</option>
                <option value="1">Admin</option>
                <option value="2">พนักงานระบบคลังชิ้นเนื้อ</option>
                <option value="3">พนักงานระบบการตัดเกรดชิ้นเนื้อ</option>
              </select>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-success">สมัครสมาชิก</button>
      </div>
    </div>
  </form>
</div>
