<div class="header">
  <p class="text-center"><strong>ยอดคงคลัง</strong></p>
  <div class="row justify-content-center" id="r1">
    <div class="form-inline">
      <label class="col-form-label"><b>ประเภทซาก</b></label>
      <div class="dropdown mx-sm-3">
        <button class="dropbtn">ซากเนื้อโค (บน-ล่าง) &nbsp;<i class="fa fa-caret-down" ></i></button>
        <div class="dropdown-content">
          <a routerLink="/menu4/store-t1">ซากเนื้อโค (ทั้งหมด)</a>
          <a routerLink="/menu4/store-t2">ซากเนื้อโค (ซ้าย-ขวา)</a>
          <a routerLink="/menu4/store-t4">ซากเนื้อโค (ก้อน)</a>
          <a routerLink="/menu4/store-t5">ซากเนื้อโค (ส่วนอื่น)</a>
        </div>
      </div>
      <label class="col-form-label"><b>ชนิดซาก</b></label>
      <div class="d1 ml-3">
        <div class="input-group form-search">
            <select class="form-control search-query fcsq1" (change)="filter_type(s1)" ngModel="ทั้งหมด" #s1>
              <option value="ทั้งหมด">ทั้งหมด</option>
              <option value="ซากซ้ายบน">ซากซ้ายบน</option>
              <option value="ซากซ้ายล่าง">ซากซ้ายล่าง</option>
              <option value="ซากขวาบน">ซากขวาบน</option>
              <option value="ซากขวาล่าง">ซากขวาล่าง</option>
              </select>
          </div>
      </div>
      <label class="col-form-label ml-3"><b>ค้นหา</b></label>
      <div class="input-group form-search  ml-3">
        <select class="form-control search-query fcsq2" (change)="dropdown_search(slt)" ngModel="1" #slt>
          <option value="1">เบอร์โค</option>
          <option value="2">รหัสซาก</option>
          <option value="3">รหัสบาร์โค้ด</option>
          <option value="4">รหัสคิวอาร์โค้ด</option>
        </select>
        <input type="text" class="form-control search-query" id="myInput"(keyup)="searchTable()" ngModel style="height: 33px"/>
      </div>
    </div>

  <div class="row justify-content-center" id="r2">
      <label class="col-form-label mr-3"><b>น้ำหนัก</b></label>
      <div class="input-group form-search c2">
        <select class="form-control search-query "id="fcsq5" (change)="dropdown_search(slt)" ngModel="น้ำหนักเย็น" #slt>
          <option value="น้ำหนักเย็น">น้ำหนักเย็น</option>
        </select>
        <input type="text" class="form-control search-query" id="myInput2"(keyup)="searchTable()" ngModel style="height: 33px"/>
      </div>
    <label class="col-form-label ml-3"><b>อายุ</b></label>
    <div class="form-inline">
      <div class="input-group form-search ml-3">
        <select class="form-control search-query fcsq31" (change)="filter_age(t2)" ngModel="ทั้งหมด" #t2>
          <option value="ทั้งหมด">ทั้งหมด</option>
          <option value="1">1 วัน</option>
          <option value="2">2 วัน</option>
          <option value="3">3 วัน</option>
          <option value="4">4 วัน</option>
          <option value="5">5 วัน</option>
          <option value="6">6 วัน</option>
          <option value="7">7 วัน</option>
          <option value="8">8 วัน</option>
          <option value="9">9 วัน</option>
          <option value="10">10 วัน</option>
          <option value="11">11 วัน</option>
          <option value="12">12 วัน</option>
          <option value="13">13 วัน</option>
          <option value="14">14 วัน</option>
          <option value="15">15 วัน</option>
          <option value="16">16 วัน</option>
          <option value="17">17 วัน</option>
          <option value="18">18 วัน</option>
          <option value="19">19 วัน</option>
          <option value="20">20 วัน</option>
          <option value="21">21 วัน</option>
          <option value="22">22 วัน</option>
          <option value="23">23 วัน</option>
          <option value="24">24 วัน</option>
          <option value="25">25 วัน</option>
          <option value="26">26 วัน</option>
          <option value="27">27 วัน</option>
          <option value="28">28 วัน</option>
          <option value="29">29 วัน</option>
          <option value="30">30 วัน</option>
          <option value="31">31 วัน</option>
        </select>
      </div>
    </div>
    <label class="col-form-label ml-3 mr-3"><b>เกรด</b></label>
    <div class="form-inline">
      <div class="input-group form-search ml-auto">
        <select class="form-control search-query fcsq31" (change)="filter_grade(g)" ngModel="ทั้งหมด" #g>
          <option value="ทั้งหมด">ทั้งหมด</option>
          <option value="2.0">2.0</option>
          <option value="2.5">2.5</option>
          <option value="3.0">3.0</option>
          <option value="3.25">3.25</option>
          <option value="3.5">3.5</option>
          <option value="4.0">4.0</option>
          <option value="4.5">4.5</option>
          <option value="5.0">5.0</option>
        </select>
      </div>
    </div>
    <label class="col-form-label ml-3 mr-3"><b>ตำแหน่ง</b></label>
    <div class="form-inline">
      <div class="input-group form-search ml-auto">
        <select class="form-control search-query fcsq32" (change)="filter_room(t1)" ngModel="ทั้งหมด" #t1>
          <option value="ทั้งหมด">ห้อง</option>
          <option value="{{a}}" *ngFor="let a of room">{{a}}</option>
        </select>
      </div>
    </div>
    <!-- <label class="col-form-label ml-3 mr-3"><b>ชั้น</b></label> -->
    <div class="form-inline">
      <div class="input-group form-search ml-auto">
        <select class="form-control search-query fcsq33" (change)="filter_class(t2)" ngModel="ทั้งหมด" #t2>
          <option value="ทั้งหมด">ชั้น</option>
          <option value="{{a2}}" *ngFor="let a2 of class">{{a2}}</option>
        </select>
      </div>
    </div>
    <!-- <label class="col-form-label ml-3 mr-3"><b>ตะกร้า</b></label> -->
    <div class="form-inline">
      <div class="input-group form-search ml-auto">
        <select class="form-control search-query fcsq34" (change)="filter_bucket(t3)" ngModel="ทั้งหมด" #t3>
          <option value="ทั้งหมด">ตะกร้า</option>
          <option value="{{a3}}" *ngFor="let a3 of bucket">{{a3}}</option>
        </select>
      </div>
    </div>
    <label class="col-form-label ml-3 mr-3"><b>สถานะ</b></label>
    <div class="form-inline">
      <div class="input-group form-search">
        <select class="form-control search-query fcsq3" (change)="filter_status(s)" ngModel="ทั้งหมด" #s>
            <option value="ทั้งหมด">ทั้งหมด</option>
            <option value="ตัดแต่ง (บน-ล่าง) แล้ว">ตัดแต่ง (บน-ล่าง) แล้ว</option>
            <option value="เบิกตัดแต่ง (ก้อน)">เบิกตัดแต่ง (ก้อน)</option>
            <option value="เบิกจำหน่าย">เบิกจำหน่าย</option>
        </select>
      </div>
    </div>
  </div>

  <div class="card shadow p aa">
    <div class="card-header">
      <h5><i class="fa fa-table"></i> รายการคงคลัง</h5>
    </div>
    <div class="card-body">
      <table id="tables">
        <thead>
          <tr>
            <th width=50px>ลำดับ</th>
            <th width=140px>ประเภทซาก</th>
            <th width=70px>เบอร์โค</th>
            <th width=70px>รหัสซาก</th>
            <th width=120px>รหัสบาร์โค้ด</th>
            <th width=120px>รหัสคิวอาร์โค้ด</th>
            <th width=70px>น้ำหนักอุ่น</th>
            <th width=70px>น้ำหนักเย็น</th>
            <th width=50px>อายุ</th>
            <th width=50px>เกรด</th>
            <th width=40px>ห้อง</th>
            <th width=40px>ชั้น</th>
            <th width=40px>ตะกร้า</th>
            <th width=120px>สถานะ</th>
            <th width=160px>หมายเหตุ</th>
            <th>เบิก</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let q of table1;let i = index" >
            <td width="50px">{{ i+1 }}</td>
            <td width="140px">{{ q.type }}</td>
            <td width="70px">{{ q.cow_code }}</td>
            <td width="70px">{{ q.code }}</td>
            <td width="120px">{{ q.barcode }}</td>
            <td width="120px">{{ q.qr_code }}</td>
            <td width="70px">{{ q.weight }}</td>
            <td width="70px">{{ q.weight_c }}</td>
            <td width="50px">{{ q.age }}</td>
            <td width="50px">{{ q.grade }}</td>
            <td width="40px">{{ q.room }}</td>
            <td width="40px">{{ q.class }}</td>
            <td width="40px">{{ q.bucket }}</td>
            <td width="120px">{{ q.status }}</td>
            <td width="160px">-</td>
            <td>
              <button type="button" class="btn btn1" (click)="update_hidden1(q.key)">เบิก</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-right ml-auto">
        <h6><strong>จำนวนซากเนื้อโค <strong>{{ count }}</strong> รายการ</strong></h6>
        <h6><strong>น้ำหนักอุ่น </strong> <strong id="w1">{{ count_weight }}</strong>
          น้ำหนักเย็น <strong id="w2">{{ count_weight_c }}</strong><strong> กิโลกรัม</strong></h6>
      </div>
    </div>
  </div>

  <hr>

  <div class="card shadow p bb">
      <div class="card-header">
        <h5><i class="fa fa-table"></i> รายการที่เลือก</h5>
      </div>
      <div class="card-body">
        <table id="tables">
          <thead>
            <tr >
            <th width=50px>ลำดับ</th>
            <th width=140px>ประเภทซาก</th>
            <th width=70px>เบอร์โค</th>
            <th width=70px>รหัสซาก</th>
            <th width=120px>รหัสบาร์โค้ด</th>
            <th width=120px>รหัสคิวอาร์โค้ด</th>
            <th width=70px>น้ำหนักอุ่น</th>
            <th width=70px>น้ำหนักเย็น</th>
            <th width=50px>อายุ</th>
            <th width=50px>เกรด</th>
            <th width=40px>ห้อง</th>
            <th width=40px>ชั้น</th>
            <th width=40px>ตะกร้า</th>
            <th width=120px>สถานะ</th>
            <th width=162px>สถานะเบิก</th>
            <th>คืน</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let q of table2 ;let i = index">
                <td width="50px">{{ i+1 }}</td>
                <td width="140px">{{ q.type }}</td>
                <td width="70px">{{ q.cow_code }}</td>
                <td width="70px">{{ q.code }}</td>
                <td width="120px">{{ q.barcode }}</td>
                <td width="120px">{{ q.qr_code }}</td>
                <td width="70px">{{ q.weight }}</td>
                <td width="70px">{{ q.weight_c }}</td>
                <td width="50px">{{ q.age }}</td>
                <td width="50px">{{ q.grade }}</td>
                <td width="40px">{{ q.room }}</td>
                <td width="40px">{{ q.class }}</td>
                <td width="40px">{{ q.bucket }}</td>
                <td width="120px">{{ q.status }}</td>
                  <td width="162px">
                      <div class="d2">
                          <div class="input-group form-search">
                              <select class="form-control search-query fcsq4" (change)="changeStatus(q ,c1, i)" ngModel="0" #c1>
                                <option value="0" disabled>ระบุสถานะ..</option>
                                <option value="เบิกตัดแต่ง (บน-ล่าง)">เบิกตัดแต่ง (บน-ล่าง)</option>
                                <option value="เบิกตัดแต่ง (ก้อน)">เบิกตัดแต่ง (ก้อน)</option>
                                <option value="เบิกตัดขาย">เบิกตัดขาย</option>
                                <option value="เบิกจำหน่าย">เบิกจำหน่าย</option>
                              </select>
                            </div>
                        </div>
                  </td>
                  <td>
                    <button type="button" class="btn btn3" (click)="update_hidden0(q.key)">คืน</button>
                  </td>
                </tr>
          </tbody>
        </table>
        <div class="text-right ml-auto">
          <h6><strong>จำนวนซากเนื้อโค {{ count2 }} รายการ</strong></h6>
          <h6><strong>น้ำหนักอุ่น </strong> <strong id="w3">{{ count_weight2 }}</strong>
            น้ำหนักเย็น <strong id="w4">{{ count_weight_c2 }}</strong><strong> กิโลกรัม</strong></h6>
        </div>
      </div>
    </div>
    <div class="nav_button" style="margin-bottom: 80px" >
        <button type="button" class="btn" id="btn2"  data-toggle="modal" data-target="#exampleModal">ดำเนินการ <i class="fa fa-chevron-right" style="vertical-align: -10%;"></i></button>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <b>รายละเอียด</b>
          </div>
          <div class="modal-body">
            <div class="form-group row mx-sm-2">
              <b>วันที่เบิกออก</b>
              <input id="sz" class="form-control col-6 ml-auto" placeholder="{{date | date: 'dd-MM-yyyy เวลา HH:mm น.'}}" disabled>
            </div>
            <div class="form-group row mx-sm-2">
              <b>ชื่อผู้เบิกออก</b>
              <input id="sz" class="form-control col-6 ml-auto" placeholder="{{name}}" disabled>
            </div>
            <div class="form-group row mx-sm-2">
              <b>ชื่อผู้ขอเบิก</b>
              <input id="sz" class="form-control col-6 ml-auto" (keyup)="test($event.target.value)">
            </div>
            <div class="form-group row mx-sm-2">
              <label><b>จำนวนซากเนื้อโคที่เบิกออก {{ count2 }} รายการ</b></label>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn bt2" data-dismiss="modal"><i class="fa fa-chevron-left" style="vertical-align: -19%;"></i> กลับ</button>
              <button type="button" class="btn bt3" (click)="updateData(name, date, table2)">บันทึก <i class='fas' style="vertical-align: -10%;">&#xf0c7;</i></button>
            </div>
        </div>
      </div>
    </div>
    <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#exampleModal">Open Modal</button>
</div>
