<div class="header">
    <p class="text-center"><strong>ออกรายงานนำเข้า</strong></p>
    <div class="row r1 justify-content-center">
        <div class="form-inline">
          <label class="col-form-label"><b>ประเภทซาก</b></label>
          <div class="dropdown mx-sm-3">
            <button class="dropbtn">ซากเนื้อโค (ก้อน) &nbsp;<i class="fa fa-caret-down" ></i></button>
            <div class="dropdown-content">
              <a routerLink="/menu5/report1-t1">ซากเนื้อโค (ทั้งหมด)</a>
              <a routerLink="/menu5/report1-t2">ซากเนื้อโค (ซ้าย-ขวา)</a>
              <a routerLink="/menu5/report1-t3">ซากเนื้อโค (บน-ล่าง)</a>
              <a routerLink="/menu5/report1-t5">ซากเนื้อโค (ส่วนอื่น)</a>
            </div>
          </div>
          <label class="col-form-label"><b>ชนิดซาก</b></label>
          <div class="d1 ml-3">
            <div class="input-group form-search">
                <select class="form-control search-query fcsq1" (change)="filter_type(t1)" ngModel="ทั้งหมด" #t1>
              <option value="ทั้งหมด">ทั้งหมด</option>
              <option value="เนื้อน่อง">เนื้อน่อง</option>
              <option value="เนื้อสะโพกนอก">เนื้อสะโพกนอก</option>
              <option value="เนื้อลูกมะพร้าว">เนื้อลูกมะพร้าว</option>
              <option value="เนื้อทีโบน">เนื้อทีโบน</option>
              <option value="เนื้อสันสะโพก">เนื้อสันสะโพก</option>
              <option value="เนื้อหางสันสะโพก">เนื้อหางสันสะโพก</option>
              <option value="เนื้อสันนอก">เนื้อสันนอก</option>
              <option value="เนื้อใบบัวสเต๊ก">เนื้อใบบัวสเต๊ก</option>
              <option value="เนื้อสะโพกใน">เนื้อสะโพกใน</option>
              <option value="เนื้อสันใน">เนื้อสันใน</option>
              <option value="เนื้อสันกลางถอดกระดูก">เนื้อสันกลางถอดกระดูก</option>
              <option value="เนื้อซี่โครงติดกระดูก">เนื้อซี่โครงติดกระดูก</option>
              <option value="เนื้อใบพาย">เนื้อใบพาย</option>
              <option value="เนื้อสันไหล่">เนื้อสันไหล่</option>
              <option value="เนื้อรักบี้">เนื้อรักบี้</option>
              <option value="เนื้อเสือร้องไห้">เนื้อเสือร้องไห้</option>
              <option value="เนื้อปลาช่อน">เนื้อปลาช่อน</option>
                </select>
              </div>
          </div>
          <label class="col-form-label ml-3"><b>ค้นหา</b></label>
          <div class="input-group form-search  ml-3">
            <select class="form-control search-query fcsq2" (change)="dropdown_search(slt)" ngModel="1" #slt>
              <option value="1">ชื่อเจ้าของ</option>
              <option value="2">ชื่อผู้นำเข้า</option>
              <option value="3">เบอร์โค</option>
              <option value="4">รหัสซาก</option>
              <option value="5">รหัสบาร์โค้ด</option>
              <option value="6">รหัสคิวอาร์โค้ด</option>
            </select>
            <input type="text" class="form-control search-query" id="myInput"(keyup)="searchTable()" ngModel style="height: 33px"/>
          </div>
        </div>
      </div>
      <div class="row r2 justify-content-center">
          <div class="input-group form-inline c2"></div>
          <div class="input-group form-inline c1">
            <label class="label mr-3 mt-2 test"><b>วันที่นำเข้า</b></label>
            <input type="date" class="form-control "id="fc1">
            <div class="input-group-append">
              <span class="input-group-text" id="igt" style="height: 33px"><i style='font-size:24px' class='far'>&#xf073;</i></span>
            </div>
            <label class="label ml-3 mr-3 mt-2" ><b>ถึงวันที่</b></label>
              <input type="date" class="form-control "id="fc2">
              <div class="input-group-append">
                <span class="input-group-text" id="igt" style="height: 33px"><i style='font-size:24px' class='far'>&#xf073;</i></span>
              </div>
              <button type="submit" class="btn ml-3" id="btn1">ค้นหา <i class="fa fa-search"></i></button>
          </div>
          <div class="input-group form-inline c3"></div>
      </div>

          <div class="card shadow p">
              <div class="card-header">
                <h5><i class="fa fa-table"></i> รายการที่ค้นหา</h5>
              </div>
              <div class="card-body">
                <table id="tables">
                    <thead>
                        <tr>
                            <th width=50px>ลำดับ</th>
                            <th width=90px>วันที่นำเข้า</th>
                            <th width=70px>เวลา</th>
                            <th width=120px>เจ้าของซาก</th>
                            <th width=120px>ประเภทซาก</th>
                            <th width=90px>เบอร์โค</th>
                            <th width=90px>รหัสซาก</th>
                            <th width=130px>รหัสบาร์โค้ด</th>
                            <th width=130px>รหัสคิวอาร์โค้ด</th>
                            <th width=70px>น้ำหนักอุ่น</th>
                            <th width=70px>น้ำหนักเย็น</th>
                            <th>ผู้นำเข้า</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let d of datass ;let i = index">
                          <td width=50px>{{ i+1 }}</td>
                          <td width=90px>{{ d.date | date: 'dd-MM-yyyy' }}</td>
                          <td width=70px>{{ d.date | date: 'HH:mm น.' }}</td>
                          <td width=120px>{{ d.owner }}</td>
                          <td width=120px>{{ d.type }}</td>
                          <td width=90px>{{ d.cow_code }}</td>
                          <td width=90px>{{ d.code }}</td>
                          <td width=130px>{{ d.barcode }}</td>
                          <td width=130px>{{ d.qr_code }}</td>
                          <td width=70px>{{ d.weight }}</td>
                          <td width=70px>{{ d.weight_c }}</td>
                          <td>{{ d.import_name }}</td>
                        </tr>
                      </tbody>
                    </table>
                <div class="text-right ml-auto">
                  <h6><strong>จำนวนซากเนื้อโค {{ count }} รายการ</strong></h6>
                  <h6><strong>น้ำหนักอุ่น <strong id="w1">{{ count_weight }}</strong> น้ำหนักเย็น <strong id="w2">{{ count_weight_c }}</strong> กิโลกรัม</strong></h6>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="nav_button"><button type="button" class="btn mr-3" id="btn3" (click)="report_c()"><i class="fa fa-print"></i> รายงานสรุป </button></div>
              <div class="nav_button"><button type="button" class="btn" id="btn2" (click)="report()"><i class="fa fa-print"></i> รายงานปกติ </button></div>
              </div>
    </div>

