<div class="header">
  <p class="text-center"><strong>ประเภทการนำเข้า</strong></p>
  <div class="row r1 justify-content-center">
    <div class="form-inline">
      <!-- <label class="col-form-label"><b>ประเภทซาก</b></label>
      <div class="dropdown mx-sm-3">
        <button class="dropbtn">ซากเนื้อโค (ทั้งหมด) &nbsp;<i class="fa fa-caret-down" ></i></button>
        <div class="dropdown-content">
          <a routerLink="/menu2/import-t2">ซากเนื้อโค (ซ้าย-ขวา)</a>
          <a routerLink="/menu2/import-t3">ซากเนื้อโค (บน-ล่าง)</a>
          <a routerLink="/menu2/import-t4">ซากเนื้อโค (ก้อน)</a>
          <a routerLink="/menu2/import-t5">ซากเนื้อโค (ส่วนอื่น)</a>
        </div>
      </div> -->
      <label class="col-form-label"><b>ประเภทซาก</b></label>
      <div class="ml-3">
        <div class="input-group form-search">
            <select class="form-control search-query fcsq1" (change)="filter_type(t1)" ngModel="ทั้งหมด" #t1>
              <option value="ทั้งหมด">ทั้งหมด</option>
              <option value="ซากซ้าย">ซากเนื้อโคซีกซ้าย</option>
              <option value="ซากขวา">ซากเนื้อโคซีกขวา</option>
              <option value="ซากซ้ายบน">ซากเนื้อโคซีกซ้ายส่วนบน</option>
              <option value="ซากซ้ายล่าง">ซากเนื้อโคซีกซ้ายส่วนล่าง</option>
              <option value="ซากขวาบน">ซากเนื้อโคซีกขวาส่วนบน</option>
              <option value="ซากขวาล่าง">ซากเนื้อโคซีกขวาส่วนล่าง</option>
              <option value="เนื้อน่อง">เนื้อน่อง</option>
              <option value="เนื้อสะโพกนอก">เนื้อสะโพกนอก</option>
              <option value="เนื้อลูกมะพร้าว">เนื้อลูกมะพร้าว</option>
              <option value="เนื้อทีโบน">เนื้อทีโบน</option>
              <option value="เนื้อสันสะโพก">เนื้อสันสะโพก</option>
              <option value="เนื้อหางสันสะโพก">เนื้อหางสันสะโพก</option>
              <option value="เนื้อสันนอก">เนื้อสันนอก</option>
              <option value="เนื้อใบบัวสเต๊ก">เนื้อใบบัวสเต๊ก</option>
              <option value="เนื้อสะโพกใน">เนื้อสะโพกใน</option>
              <option value="เนื้อสันใน">เนื้อสันใน</option>
              <option value="เนื้อสันกลางถอดกระดูก">เนื้อสันกลางถอดกระดูก</option>
              <option value="เนื้อซี่โครงติดกระดูก">เนื้อซี่โครงติดกระดูก</option>
              <option value="เนื้อใบพาย">เนื้อใบพาย</option>
              <option value="เนื้อปลาช่อน">เนื้อปลาช่อน</option>
              <option value="เนื้อเสือร้องไห้">เนื้อเสือร้องไห้</option>
              <option value="เนื้อรักบี้">เนื้อรักบี้</option>
              <option value="เนื้อสันไหล่">เนื้อสันไหล่</option>
              <option value="เครื่องใน">เครื่องใน</option>
              <option value="หัว">หัว</option>
              <option value="หนัง">หนัง</option>
              <option value="หาง">หาง</option>
              <option value="ขา">ขา</option>
              <option value="ไขมัน">ไขมัน</option>
              <option value="อองเร">อองเร</option>
            </select>
          </div>
      </div>
      <label class="col-form-label ml-3"><b>ค้นหา</b></label>
      <div class="input-group form-search  ml-3">
        <select class="form-control search-query fcsq2" (change)="dropdown_search(slt)" ngModel="1" #slt>
          <option value="1">ชื่อเจ้าของ</option>
          <option value="2">ชื่อผู้นำเข้า</option>
          <option value="3">เบอร์โค</option>
          <option value="4">รหัสซาก</option>
          <option value="5">รหัสบาร์โค้ดซาก</option>
          <option value="6">รหัสคิวอาร์โค้ดซาก</option>
        </select>
        <input type="text" class="form-control search-query" id="myInput"(keyup)="searchTable()" ngModel style="height: 33px"/>
        <!-- <div class="input-group-prepend">
          <span class="input-group-text" style="height: 35px;" id="igt"> <i class="fa fa-search"></i></span>
        </div> -->
      </div>
    </div>
  </div>
  <div class="row r2 justify-content-center">
    <div class="input-group form-inline c2"></div>
    <div class="input-group form-inline c1">
      <label class="label mr-3 test"><b>วันที่นำเข้า</b></label>
      <input type="date" class="form-control "id="fc1" (change)="startdate(s1)" [(ngModel)]="start" #s1>
      <div class="input-group-append">
        <span class="input-group-text" id="igt" style="height: 33px"><i style='font-size:24px' class='far'>&#xf073;</i></span>
      </div>
      <label class="label ml-3 mr-3"><b>ถึงวันที่</b></label>
        <input type="date" class="form-control "id="fc2" (change)="enddate(e1)" [(ngModel)]="end" #e1>
        <div class="input-group-append">
          <span class="input-group-text" id="igt" style="height: 33px"><i style='font-size:24px' class='far'>&#xf073;</i></span>
        </div>
        <button type="submit" class="btn ml-3" (click)="searchDate()">ค้นหา <i class="fa fa-search"></i></button>
    </div>
    <div class="input-group form-inline c3"></div>
  </div>

  <div class="card shadow p">
    <div class="card-header">
      <h5><i class="fa fa-table"></i> รายการนำเข้า</h5>
    </div>
    <div class="card-body">
      <table id="tables">
        <thead>
          <tr>
            <th width=50px>ลำดับ</th>
            <th width=90px>วันที่นำเข้า</th>
            <th width=70px>เวลา</th>
            <th width=150px>เจ้าของซาก</th>
            <th width=180px>ประเภทซาก</th>
            <th width=70px>เบอร์โค</th>
            <th width=70px>รหัสซาก</th>
            <th width=120px>รหัสบาร์โค้ด</th>
            <th width=120px>รหัสคิวอาร์โค้ด</th>
            <th width=50px>ห้อง</th>
            <th width=50px>ชั้น</th>
            <th width=50px>ตะกร้า</th>
            <th width=120px>สถานะ</th>
            <th>ผู้นำเข้า</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of datas ;let i = index">
            <td width=50px>{{ i+1 }}</td>
            <td width=90px>{{ d.date | date: 'dd-MM-yyyy' }}</td>
            <td width=70px>{{ d.date | date: 'HH:mm น.' }}</td>
            <td width=150px>{{ d.owner }}</td>
            <td width=180px>{{ d.type }}</td>
            <td width=70px>{{ d.cow_code }}</td>
            <td width=70px>{{ d.code }}</td>
            <td width=120px>{{ d.barcode }}</td>
            <td width=120px>{{ d.qr_code }}</td>
            <td width=50px>{{ d.room }}</td>
            <td width=50px>{{ d.class }}</td>
            <td width=50px>{{ d.bucket }}</td>
            <td width=120px>{{ d.status }}</td>
            <td>{{ d.import_name }}</td>
          </tr>
        </tbody>
      </table>
      <div class="text-right ml-auto">
        <h6><strong>จำนวนซากเนื้อโค {{ count }} รายการ</strong></h6>
      </div>
    </div>
  </div>
</div>



