
.text-center {
  font-size: 24px;
  margin-bottom: 15px;
}

.card{
  height: 370px;
  margin-left: 8%;
  margin-right: 8%;
  overflow: hidden;
  border-radius: 20px 20px 0px 0px;
}

.card-header{
  background-color: #148AE1;
  color: white;
  padding: 0.1rem 1.5rem;
}

.card-body {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.r2 {

  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 8px;
}

table ,tr td{
  border: 1px solid #ddd;
}
tbody {
  display: block;
  height: 195px;         /* ความสูงของตาราง */
  overflow: auto;
}
thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
thead {
  height: 40px;
  width: calc( 100% - 1eem );
  border-bottom: 1px solid #ddd;
}
thead tr th {
  border-right: 1px solid #ddd;
}
thead tr th:last-child {
  border-right: 1px solid white;
}
tr td {
  height: 30px;
}
table {
  width: 100%;
}
table tr:nth-child(even) {
  background-color: #f2f2f2;
}
table tbody tr:hover {
  background-color: #e9e9e9;
}

.btn-dafault{
  background-color: #4CAF50;
  color: white;
}

.nav_button {
  text-align: center;
  margin-top: 20px;
}

.bt1{
  margin-top: -4px;
  background-color: #3498DB;
  color: #FBFCFC;
  font-size: 18px;
  height: 38px;
  width: 95px;
}

.bt2{
  margin-top: -8px;
  background-color:#B3B6B7;
  color: #FBFCFC;
  font-size: 18px;
  height: 38px;
  width: 80px;
}

.bt3{
  margin-top: -8px;
  background-color: #2ECC71;
  color: #FBFCFC;
  font-size: 18px;
  height: 38px;
  width: 80px;
}

.modal-dialog {
  width: 30%;
}

.modal-header {
  font-size: 18px;
}

.modal-footer button {
  font-size: 18px;
}

/* ตัวหนังสือใน modal */
label {
  font-size: 18px;
}

.dropbtn{
  background-color: white;
  width: 100%;
  height: 33px;
  padding: 5px 20px;
  font-size: 16px;
  text-align: left;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #495057;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 160px;
  height: 35px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 135px;
  z-index: 1;
  width: 160px;
}

.dropdown-content a {
  display: block;
  color: #495057;
  font-size: 16px;
  padding: 5px 20px;
  text-decoration: none;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.dropdown-content a:first-child {
  border-top: 1px solid #ddd;
}
.dropdown-content a:last-child {
  border-bottom: 1px solid #ddd;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  transition: all 0.3s ease;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  transition: all 0.3s ease;
}

h5 {
  font-weight: bold;
  margin-top: 10px;
  font-size: 18px;
}

h6 {
  font-weight: bold;
  margin-top: 10px;
  font-size: 18px;
}

.form-group {
  font-size: 18px;
}

select, option {
  font-size: 18px;
}

.input-group-text{
  height: 38px;
}

#sz {
  font-size: 18px;
}

.c1{
  width: 60%;

}

.c2{
  width: 20%;

}

.c3{
  width: 20%;

}

#fc1{
  height: 37px;
  width: 30px;
  border-radius: 5px 0px 0px 5px;
}

#fc2{
  height: 37px;
  width: 30px;
  border-radius: 5px 0px 0px 5px;
}
.test{
  align-self: center;
}

h5{
  font-weight: normal;
  font-size: 20px;
}

#igt{
  background-color: #47B7E5;
  border-radius: 0px 5px 5px 0px;
}

.fcsq1{

  height: 33px;
  width: 100px;
}

.fcsq2{

  height: 33px;
}



input[type=checkbox]{
  margin-top: 10px;
}

.search1{
  background-color: #31C9CB;
  color: #FBFCFC;
}

.far{
  color: #FBFCFC;
}

