<nav class="navbar navbar-expand-xl navbar-dark fixed-bottom" style="background-color: #003171">
  <div class="container-fluid fontsize">
    <div class="row">
      <div class="col-6">
        <div class="navbar-expand m-auto" style="color: #ffffff">
          Copyright <i class="far fa-copyright"></i>2018 | <a href="/">Development Team</a> | <a href="/">Contact</a><br>
          By Computer Engineering <a href="/">University Of Phayao<i class="fab fa-facebook-square" style="margin-left: 3px"></i></a>

        </div>
      </div>
      <div class="col-6">
        <div class="navbar-expand m-auto text-right">
          <a href="/">Farm Management System</a>
          <a href="/"><img class="navbar-icon" src="https://www.img.in.th/images/c9d93cbbec4c3cd936ff4dd4d1c56dff.png"></a>
        </div>
      </div>
    </div>
  </div>
</nav>
