.jumbotron{
  background: rgb(255, 255, 255);
  border: 1px solid rgb(211, 211, 211);
}

.sumgragd{
  margin: 20px;
  font-size: 2rem;
  color: #003171;
}

.btn{
  font-size: 1rem;
  width: 100px;
  padding-top: 0;
  padding-bottom: 0;
}
.btncon{
  width: 200px;
}

.material-icons{
  vertical-align: -6px;
  font-size: 1.8rem;
}

thead > tr > td{
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.search-input{
  height: 43px;
}


label {
  cursor:pointer;
  color: #666;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + .label-text:before {
  content: "\f096";
  font-family: "FontAwesome";
  speak-as: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  width: 1em;
  display: inline-block;
  margin-right: 5px;
  vertical-align: -2px
}
input[type="checkbox"]:checked + .label-text:before {
  content: "\f14a";
  color: #06a3e9;
  -webkit-animation:tick 180ms ease-in;
  animation:tick 100ms ease-in;
}
input[type="checkbox"]:not(:checked) + .label-text:before {
  content: "\f096";
  color: #474747;
  -webkit-animation:tick2 180ms ease-in;
  animation:tick2 100ms ease-in;
}
@keyframes tick {
  0%   {transform: scale(0); }
  90%  {transform: scale(1.4); }
  100%  {transform: scale(1); }
}
@keyframes tick2 {
  0%   {transform: scale(1); content: "\f14a";
  color: #06a3e9;}
  70%  {transform: scale(1.4); content: "\f14a";
  color: #06a3e9;}
  100%  {transform: scale(0); opacity: 0;}
}
