<div class="header">
  <div class="card shadow p" id="cs0" style="margin-top: -15px">
    <div class="card-header" id="ch0" style="padding-top: 12px">
      <h5><img class="navbar-icon" id="ni1" src="/assets/05.png" style="vertical-align: -72%;"> กระดานแสดงรายละเอียด</h5>
    </div>
    <div class="card-body" id="cd0">
    <div class="row r1">
      <div class="col-3">
          <div class="shadow p" id="cs01">
              <div class="card-header ch011">
                <div class="row s1">
                <div class="col-5 c1">
                  <img class="navbar-icon" src="/assets/04.png" style="vertical-align: -25%;">
                </div>
                <div class="col-7 c2">
                  <div class="cr1">วัน{{day_thai}} ที่ {{day}} เดือน{{month_thai}} พ.ศ. {{year}} เวลา {{time | date: 'HH:mm'}} น.</div>
                </div>
                </div>
                <div class="row justify-content-center s2">
                  <label class="cr2">ยินดีต้อนรับเข้าสู่ระบบคลังชิ้นเนื้อ</label>
                </div>
              </div>
            </div>
      </div>
      <div class="col-3">
          <div class="shadow p" id="cs01">
              <div class="card-header ch022">
                <div class="row s22">
                  <div class="col-7 c21c">
                      <img class="navbar-icon" id="dd" src="/assets/07.png" style="vertical-align: -25%;">
                  </div>
                  <div class="col-5 c22">
                    <div class="row justify-content-center ss2">0</div>
                    <div class="row justify-content-center sss2">ยอดคงคลัง</div>
                    <div class="row justify-content-center ssss2">ซากเนื้อโค (ซ้าย-ขวา)</div>
                  </div>
                </div>
              </div>
              <div class="card-body cd01">
                  <div class="row rrr">
                      <a class="nav-link"  routerLink="/menu4/store-t2"><i class='fas' style="vertical-align: -10%;">&#xf002;</i> แสดงรายละเอียด</a>
                    </div>
              </div>
            </div>
      </div>
      <div class="col-3">
          <div class="shadow p" id="cs01">
              <div class="card-header ch033">
                <div class="row s22">
                  <div class="col-7 c21">
                    <img class="navbar-icon" id="dd" src="/assets/06.png" style="vertical-align: -25%;">
                  </div>
                  <div class="col-5 c22">
                    <div class="row justify-content-center ss2">0</div>
                    <div class="row justify-content-center sss2">ยอดคงคลัง</div>
                    <div class="row justify-content-center ssss2">ซากเนื้อโค (บน-ล่าง)</div>
                  </div>
                </div>
              </div>
              <div class="card-body cd01">
                <div class="row rrr">
                  <a class="nav-link"  routerLink="/menu4/store-t3"><i class='fas' style="vertical-align: -10%;">&#xf002;</i> แสดงรายละเอียด</a>
                </div>
              </div>
            </div>
      </div>
      <div class="col-3">
          <div class="shadow p" id="cs01">
              <div class="card-header ch044">
                <div class="row s22">
                  <div class="col-7 c21b">
                    <img class="navbar-icon" id="dd1" src="/assets/08.png" style="vertical-align: -25%;">
                  </div>
                  <div class="col-5 c22">
                    <div class="row justify-content-center ss2">0</div>
                    <div class="row justify-content-center sss2">ยอดคงคลัง</div>
                    <div class="row justify-content-center ssss2">ซากเนื้อโค (ก้อน)</div>
                  </div>
                </div>
              </div>
              <div class="card-body cd01">
                  <div class="row rrr">
                      <a class="nav-link"  routerLink="/menu4/store-t4"><i class='fas' style="vertical-align: -10%;">&#xf002;</i> แสดงรายละเอียด</a>
                    </div>
              </div>
            </div>
      </div>
    </div>
    <div class="row r2">
        <div class="col-3">
            <div class="shadow p" id="cs01">
                <div class="card-header ch055">
                  <div class="row s22">
                    <div class="col-7 c21">
                      <img class="navbar-icon" id="dd22" src="/assets/09.png" style="vertical-align: -25%;">
                    </div>
                    <div class="col-5 c22">
                      <div class="row justify-content-center ss2">0</div>
                      <div class="row justify-content-center sss2">ยอดคงคลัง</div>
                      <div class="row justify-content-center ssss2">ซากเนื้อโค (ส่วนอื่น)</div>
                    </div>
                  </div>
                </div>
                <div class="card-body cd01">
                    <div class="row rrr">
                        <a class="nav-link"  routerLink="/menu4/store-t5"><i class='fas' style="vertical-align: -10%;">&#xf002;</i> แสดงรายละเอียด</a>
                      </div>
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="shadow p" id="cs01">
                <div class="card-header ch066">
                  <div class="row s22">
                    <div class="col-7 c21">
                      <img class="navbar-icon" id="dd33" src="/assets/10.png" style="vertical-align: -25%;">
                    </div>
                    <div class="col-5 c22">
                      <div class="row justify-content-center ss2">0</div>
                      <div class="row justify-content-center sss2">จำนวนรายการ</div>
                      <div class="row justify-content-center ssss2">วันครบกำหนดบ่ม</div>
                    </div>
                  </div>
                </div>
                <div class="card-body cd01">
                    <div class="row rrr">
                        <a class="nav-link"  routerLink="/menu6/notification-t5"><i class='fas' style="vertical-align: -10%;">&#xf002;</i> แสดงรายละเอียด</a>
                      </div>
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="shadow p" id="cs01">
                <div class="card-header ch077">
                  <div class="row s22">
                    <div class="col-7 c21">
                      <img class="navbar-icon" id="dd44" src="/assets/11.png" style="vertical-align: -25%;">
                    </div>
                    <div class="col-5 c22">
                      <div class="row justify-content-center ss2">0</div>
                      <div class="row justify-content-center sss2">จำนวนรายการ</div>
                      <div class="row justify-content-center ssss2">วันใกล้หมดอายุ</div>
                    </div>
                  </div>
                </div>
                <div class="card-body cd01">
                    <div class="row rrr">
                        <a class="nav-link" routerLink="/menu6/notification-t1"><i class='fas' style="vertical-align: -10%;">&#xf002;</i> แสดงรายละเอียด</a>
                      </div>
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="shadow p" id="cs01">
                <div class="card-header ch088">
                  <div class="row s22">
                    <div class="col-7 c21">
                      <img class="navbar-icon" id="dd55" src="/assets/14.png" style="vertical-align: -25%;">
                    </div>
                    <div class="col-5 c22">
                      <div class="row justify-content-center ss2">0</div>
                      <div class="row justify-content-center sss2">จำนวนรายการ</div>
                      <div class="row justify-content-center ssss2">คำร้องขอเบิกซาก</div>
                    </div>
                  </div>
                </div>
                <div class="card-body cd01">
                    <div class="row rrr">
                        <a class="nav-link" routerLink="/menu6/notification-t2"><i class='fas' style="vertical-align: -10%;">&#xf002;</i> แสดงรายละเอียด</a>
                      </div>
                </div>
              </div>
        </div>
      </div>
      <div class="row r3">
          <div class="col-3">
              <div class="shadow p" id="cs01">
                  <div class="card-header ch099">
                    <div class="row s22">
                      <div class="col-7 c21">
                        <img class="navbar-icon" id="dd55" src="/assets/12.png" style="vertical-align: 0%;">
                      </div>
                      <div class="col-5 c22">
                        <div class="row justify-content-center ss2">{{this.count9}}</div>
                        <div class="row justify-content-center sss2">ยอดรายการ</div>
                        <div class="row justify-content-center ssss2">นำเข้าซากเนื้อโค</div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body cd01">
                      <div class="row rrr">
                          <a class="nav-link" routerLink="/menu2/import-t1"><i class='fas' style="vertical-align: -10%;">&#xf002;</i> แสดงรายละเอียด</a>
                        </div>
                  </div>
                </div>
          </div>
          <div class="col-3">
              <div class="shadow p" id="cs01">
                  <div class="card-header ch010">
                    <div class="row s22">
                      <div class="col-7 c21">
                        <img class="navbar-icon" id="dd55" src="/assets/13.png" style="vertical-align: -25%;">
                      </div>
                      <div class="col-5 c22">
                        <div class="row justify-content-center ss2">0</div>
                        <div class="row justify-content-center sss2">ยอดรายการ</div>
                        <div class="row justify-content-center ssss2">เบิกออกซากเนื้อโค</div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body cd01">
                      <div class="row rrr">
                          <a class="nav-link" routerLink="/menu3/order-t1"><i class='fas' style="vertical-align: -10%;">&#xf002;</i> แสดงรายละเอียด</a>
                        </div>
                </div>
              </div>
        </div>
  </div>
</div>

