<div class="header">
  <p class="text-center"><strong>ออกรายงานเบิกออก</strong></p>
  <div class="row r1 justify-content-center">
    <div class="form-inline">
      <label class="col-form-label"><b>ประเภทซาก</b></label>
      <div class="dropdown mx-sm-3">
        <button class="dropbtn">ซากเนื้อโค (ซ้าย-ขวา) &nbsp;<i class="fa fa-caret-down" ></i></button>
        <div class="dropdown-content">
          <a routerLink="/menu5/report2-t1">ซากเนื้อโค (ทั้งหมด)</a>
          <a routerLink="/menu5/report2-t3">ซากเนื้อโค (บน-ล่าง)</a>
          <a routerLink="/menu5/report2-t4">ซากเนื้อโค (ก้อน)</a>
          <a routerLink="/menu5/report2-t5">ซากเนื้อโค (ส่วนอื่น)</a>
        </div>
      </div>
      <label class="col-form-label"><b>ชนิดซาก</b></label>
      <div class="ml-3">
        <div class="input-group form-search">
            <select class="form-control search-query fcsq1">
              <option value="ทั้งหมด">ทั้งหมด</option>
              <option value="ซากซ้าย">ซากซ้าย</option>
              <option value="ซากขวา">ซากขวา</option>
            </select>
          </div>
      </div>
      <label class="col-form-label ml-3"><b>ค้นหา</b></label>
      <div class="input-group form-search  ml-3">
        <select class="form-control search-query fcsq2" (change)="selectMenu(slt)" ngModel="ผู้ขอเบิก" #slt>
          <option value="ผู้ขอเบิก">ชื่อผู้ขอเบิก</option>
          <option value="ผู้เบิกออก">ชื่อผู้เบิกออก</option>
          <option value="เบอร์โค">เบอร์โค</option>
          <option value="รหัสซาก">รหัสซาก</option>
          <option value="รหัสบาร์โค้ด">รหัสบาร์โค้ด</option>
          <option value="รหัสคิวอาร์โค้ด">รหัสคิวอาร์โค้ด</option>
        </select>
        <input type="text" class="form-control search-query" id="myInput"(keyup)="searchTable()" ngModel style="height: 33px"/>
      </div>
    </div>
  </div>
  <div class="row r2 justify-content-center">
    <div class="input-group form-inline c2"></div>
    <div class="input-group form-inline c1">
      <label class="label mr-3 mt-2 test"><b> วันที่เบิกออก </b></label>
      <input type="date" class="form-control "id="fc1">
      <div class="input-group-append">
        <span class="input-group-text" id="igt" style="height: 33px"><i style='font-size:24px' class='far'>&#xf073;</i></span>
      </div>
      <label class="label ml-3 mr-3 mt-2" ><b> ถึงวันที่ </b></label>
        <input type="date" class="form-control "id="fc2">
        <div class="input-group-append">
          <span class="input-group-text" id="igt" style="height: 33px"><i style='font-size:24px' class='far'>&#xf073;</i></span>
        </div>
        <button type="submit" class="btn ml-3" id="btn1"> ค้นหา <i class="fa fa-search"></i></button>
    </div>
    <div class="input-group form-inline c3"></div>
  </div>

  <div class="card shadow p">
    <div class="card-header">
      <h5><i class="fa fa-table"></i> รายการที่ต้องการ</h5>
    </div>
    <div class="card-body">
          <table id="tables">
              <thead>
                  <tr>
                    <th width=50px>ลำดับ</th>
                    <th width=90px>วันที่เบิกออก</th>
                    <th width=70px>เวลา</th>
                    <th width=120px>ประเภทซาก</th>
                    <th width=90px>เบอร์โค</th>
                    <th width=90px>รหัสซาก</th>
                    <th width=120px>รหัสบาร์โค้ด</th>
                    <th width=120px>รหัสคิวอาร์โค้ด</th>
                    <th width=70px>น้ำหนักอุ่น</th>
                    <th width=70px>น้ำหนักเย็น</th>
                    <th width=120px>ผู้ขอเบิก</th>
                    <th>ผู้เบิกออก</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td width=50px></td>
                    <td width=90px></td>
                    <td width=70px></td>
                    <td width=120px></td>
                    <td width=90px></td>
                    <td width=90px></td>
                    <td width=150px></td>
                    <td width=150px></td>
                    <td width=120px></td>
                    <td></td>
                  </tr>
                </tbody>
          </table>
          <div class="text-right ml-auto">
            <h6><strong>จำนวนซากเนื้อโค 0 รายการ</strong></h6>
            <h6><strong>น้ำหนักอุ่น 0.00 น้ำหนักเย็น 0.00 กิโลกรัม</strong></h6>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
          <div class="nav_button"><button type="button" class="btn mr-3" id="btn3" ><i class="fa fa-print"></i> รายงานสรุป </button></div>
          <div class="nav_button"><button type="button" class="btn" id="btn2"><i class="fa fa-print"></i> รายงานปกติ </button></div>
        </div>
    </div>

