<div class="mainpage">
  <div class="container" style="padding-top:85px">
    <div class="row">
      <div class="col text-center" (click)="goSystem1()">
        <img  src="./../../../assets/store.png" style="height:250px">
        <p>
          <label class="h3" style="color:white; font-weight:bold; text-shadow: 1px 1px 4px #000000">ระบบคลังชิ้นเนื้อ</label>
        </p>
      </div>
      <div class="col text-center" (click)="goSystem2()">
        <img src="./../../../assets/grade.png" style="height:250px">
        <p>
          <label class="h3" style="color:white; font-weight:bold; text-shadow: 1px 1px 4px #000000">ระบบการตัดเกรดเนื้อโค</label>
        </p>
      </div>
      <div class="col text-center">
        <img src="./../../../assets/empty.png" style="height:250px">
      </div>
    </div>
    <div class="row mt-2">
      <div class="col text-center">
        <img src="./../../../assets/empty.png" style="height:250px">
      </div>
      <div class="col text-center">
        <img src="./../../../assets/empty.png" style="height:250px">
      </div>
      <div class="col text-center">
        <img src="./../../../assets/empty.png" style="height:250px">
      </div>
    </div>
  </div>
</div>
