<div class="header">
  <p class="text-center"><strong>ประวัติการบ่มซากเนื้อโค</strong></p>
  <div class="row r1 justify-content-center">
    <div class="form-inline">
      <label class="col-form-label"><b>ประเภทซาก</b></label>
      <div class="d1 ml-3">
        <div class="input-group form-search">
            <select class="form-control search-query fcsq1" (change)="filter_type(t)" ngModel="ทั้งหมด" #t>
              <option value="ทั้งหมด">ทั้งหมด</option>
              <option value="ซากซ้าย">ซากซ้าย</option>
              <option value="ซากขวา">ซากขวา</option>
            </select>
          </div>
      </div>
      <label class="col-form-label ml-3"><b>ค้นหาโดย</b></label>
      <div class="input-group form-search  ml-3">
        <select class="form-control search-query fcsq2" (change)=" dropdown_search(slt)" ngModel="1" #slt>
          <option value="1">ชื่อผู้บ่มซาก</option>
          <option value="2">เบอร์โค</option>
          <option value="3">รหัสซาก</option>
          <option value="4">รหัสบาร์โค้ด</option>
          <option value="5">รหัสคิวอาร์โค้ด</option>
        </select>
        <input type="text" class="form-control search-query" id="myInput"(keyup)="searchTable()" ngModel style="height: 33px"/>
      </div>
    </div>
  </div>
  <div class="row r2 justify-content-center">
    <div class="input-group form-inline c2"></div>
    <div class="input-group form-inline c1">
      <label class="label mr-3 mt-2 test"><b>วันที่บ่มเสร็จ</b></label>
      <input type="date" class="form-control "id="fc1" (change)="startdate(s1)" [(ngModel)]="start" #s1>
      <div class="input-group-append">
        <span class="input-group-text" id="igt" style="height: 33px"><i style='font-size:24px' class='far'>&#xf073;</i></span>
      </div>
      <label class="label ml-3 mr-3 mt-2" ><b>ถึงวันที่</b></label>
        <input type="date" class="form-control "id="fc2" (change)="enddate(e1)" [(ngModel)]="end" #e1>
        <div class="input-group-append">
          <span class="input-group-text" id="igt" style="height: 33px"><i style='font-size:24px' class='far'>&#xf073;</i></span>
        </div>
        <button type="submit" class="btn ml-3 search1" (click)="searchDate()">ค้นหา <i class="fa fa-search"></i></button>
    </div>
    <div class="input-group form-inline c3"></div>
  </div>

  <div class="card shadow p">
    <div class="card-header">
      <h5><i class="fa fa-table"></i> รายการบ่มซากเนื้อโค</h5>
    </div>
    <div class="card-body">
      <table id="tables">
        <thead>
          <tr>
            <th width=50px>ลำดับ</th>
            <th width=90px>วันที่บ่มเสร็จ</th>
            <th width=70px>เวลา</th>
            <th width=70px>จำนวนวันบ่ม</th>
            <th width=110px>ประเภท</th>
            <th width=80px>เบอร์โค</th>
            <th width=80px>รหัสซาก</th>
            <th width=130px>รหัสบาร์โค้ด</th>
            <th width=130px>รหัสคิวอาร์โค้ด</th>
            <th width=80px>น้ำหนักอุ่น</th>
            <th width=60px>ห้อง</th>
            <th width=130px>สถานะ</th>
            <th>ผู้บ่มซาก</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of datas;let i = index">
            <td width=50px>{{ i+1 }}</td>
            <td width=90px>{{ d.date_aging | date: 'dd-MM-yyyy' }}</td>
            <td width=70px>{{ d.date | date: 'HH:mm น.' }}</td>
            <td width=70px>{{ d.day_aging }}</td>
            <td width=110px>{{ d.type }}</td>
            <td width=80px>{{ d.cow_code }}</td>
            <td width=80px>{{ d.code }}</td>
            <td width=130px>{{ d.barcode }}</td>
            <td width=130px>{{ d.qr_code }}</td>
            <td width=80px>{{ d.weight }}</td>
            <td width=60px>{{ d.room }}</td>
            <td width=130px>{{ d.status }}</td>
            <td>{{ d.aging_name }}</td>
          </tr>
        </tbody>
      </table>
      <div class="text-right ml-auto">
        <h6><strong>จำนวนซากเนื้อโค {{ count }} รายการ</strong></h6>
        <h6><strong>น้ำหนักอุ่น <strong id="w">{{ weight_all }}</strong> กิโลกรัม</strong></h6>
      </div>
    </div>
  </div>
</div>
