
<div class="header">
    <p class="text-center"><strong>จำลองการส่งคำร้องของแผนกจำหน่าย</strong></p>

    <div class="row m">
      <div class="col">
        <div class="card shadow p">
          <div class="card-header">
            <h6>เพิ่มคำร้องขอเบิก</h6>
          </div>
          <div class="card-body">
            <form (ngSubmit)="addDataST2(t)" #t="ngForm">
                  <div class="form-row">
                    <div class="col-sm-2 mb-2">
                      <label>ประเภทซาก</label>
                      <select class="form-control" (change)="changeType(slt)" [value]="0" #slt>
                        <option selected disabled value="0">เลือกประเภทซาก..</option>
                        <option value="ซากซ้าย">ซากเนื้อโคซีกซ้าย</option>
                        <option value="ซากขวา">ซากเนื้อโคซีกขวา</option>
                        <option value="ซากซ้ายบน">ซากเนื้อโคซีกซ้ายส่วนบน</option>
                        <option value="ซากซ้ายล่าง">ซากเนื้อโคซีกซ้ายส่วนล่าง</option>
                        <option value="ซากขวาบน">ซากเนื้อโคซีกขวาส่วนบน</option>
                        <option value="ซากขวาล่าง">ซากเนื้อโคซีกขวาส่วนล่าง</option>
                        <option value="เนื้อน่อง">เนื้อน่อง</option>
                        <option value="เนื้อสะโพกนอก">เนื้อสะโพกนอก</option>
                        <option value="เนื้อลูกมะพร้าว">เนื้อลูกมะพร้าว</option>
                        <option value="เนื้อทีโบน">เนื้อทีโบน</option>
                        <option value="เนื้อสันสะโพก">เนื้อสันสะโพก</option>
                        <option value="เนื้อหางสันสะโพก">เนื้อหางสันสะโพก</option>
                        <option value="เนื้อสันนอก">เนื้อสันนอก</option>
                        <option value="เนื้อใบบัวสเต๊ก">เนื้อใบบัวสเต๊ก</option>
                        <option value="เนื้อสะโพกใน">เนื้อสะโพกใน</option>
                        <option value="เนื้อสันใน">เนื้อสันใน</option>
                        <option value="เนื้อสันกลางถอดกระดูก">เนื้อสันกลางถอดกระดูก</option>
                        <option value="เนื้อซี่โครงติดกระดูก">เนื้อซี่โครงติดกระดูก</option>
                        <option value="เนื้อใบพาย">เนื้อใบพาย</option>
                        <option value="เนื้อปลาช่อน">เนื้อปลาช่อน</option>
                        <option value="เนื้อเสือร้องไห้">เนื้อเสือร้องไห้</option>
                        <option value="เนื้อรักบี้">เนื้อรักบี้</option>
                        <option value="เนื้อสันไหล่">เนื้อสันไหล่</option>
                        <option value="เครื่องใน">เครื่องใน</option>
                        <option value="หัว">หัว</option>
                        <option value="หนัง">หนัง</option>
                        <option value="หาง">หาง</option>
                        <option value="ขา">ขา</option>
                        <option value="ไขมัน">ไขมัน</option>
                        <option value="อองเร">อองเร</option>
                      </select>
                    </div>
                    <div class="col-sm-2 mb-2" hidden>
                      <label>ประเภทซาก</label>
                      <select class="form-control" name="type" ngModel="{{add}}">
                        <option value="{{add}}"></option>
                      </select>
                    </div>
                    <div class="col-sm-1 mb-2" [hidden]="hid == undefined">
                      <label>น้ำหนัก (กก.)</label>
                      <input type="text" class="form-control" name="weight" maxlength=7 ngModel />
                    </div>
                    <div class="col-sm-1 mb-2" [hidden]="hid == undefined">
                      <label>เกรด</label>
                      <select class="form-control" name="grade" ngModel="2.0">
                        <option value="2.0">2.0</option>
                        <option value="2.5">2.5</option>
                        <option value="3.0">3.0</option>
                        <option value="3.25">3.25</option>
                        <option value="3.5">3.5</option>
                        <option value="4.0">4.0</option>
                        <option value="4.5">4.5</option>
                        <option value="5.0">5.0</option>
                      </select>
                    </div>
                    <!-- <div class="col-sm-2 mb-2" [hidden]="hid == undefined">
                      <label>ผู้ขอเบิก</label>
                      <input type="text" class="form-control" name="take_name" ngModel />
                    </div> -->
                    <div class="col-sm-2 mb-2" [hidden]="hid == undefined">
                      <label>ผู้ขอเบิก</label>
                      <select class="form-control" name="take_name"  ngModel>
                        <option value="{{a}}" *ngFor="let a of id_member_name">{{a}}</option>
                      </select>
                    </div>
                    <div class="col-sm-2 mb-2" [hidden]="hid == undefined">
                      <label>หมายเหตุ</label>
                      <input type="text" class="form-control" name="note" ngModel/>
                    </div>
                    <div class="col-sm-1 mb-2" hidden>
                      <label>วันที่เพิ่มข้อมูล</label>
                      <input type="text" class="form-control" name="date" ngModel="{{date}}"/>
                    </div>
                    <input name="test" ngModel="0" hidden />    <!--ตัวแปรใช้เพื่อซ่อนข้อมูลเมื่อกดนำเข้าคลัง-->
                    <div class="col-sm-1 mb-2">
                      <label>เพิ่มรายการ</label>
                      <button type="submit" class="btn btn-primary" style="margin-bottom: 45px">เพิ่มรายการ</button>
                    </div>
                  </div>
                </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row n">
        <div class="col">
          <div class="card shadow p">
            <div class="card-header">
              <h6>ตารางรายการร้องขอเบิก</h6>
            </div>
            <div class="card-body">
              <table id="tables">
                <thead>
                  <tr>
                    <th>ลำดับ</th>
                    <th>รายการที่ขอเบิก</th>
                    <th>น้ำหนัก (กก.)</th>
                    <th>เกรด</th>
                    <th>ผู้ขอเบิก</th>
                    <th>ลบ</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let d of detail;let i = index" [hidden]="d.test === 1">
                      <td>{{ i+1 }}</td>
                      <td>{{ d.type }}</td>
                      <td>{{ d.weight }}</td>
                      <td>{{ d.grade }}</td>
                      <td>{{ d.take_name }}</td>
                      <td>
                        <button class="btn btn-danger dg" (click)="removeData(i)"><i class="material-icons">delete_forever</i></button>
                      </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div style="margin-bottom: 5%;text-align: center">
        <button class="btn btn-primary" (click)="sendData()">ร้องขอเบิก</button>
      </div>
  </div>


