<div class="header">
  <p class="text-center"><strong>ออกรายงานบ่มซาก</strong></p>
  <div class="row r1 justify-content-center">
    <div class="form-inline">
      <label class="col-form-label"><b>ชนิดซาก</b></label>
      <div class="d1 ml-3">
        <div class="input-group form-search">
            <select class="form-control search-query fcsq1" (change)="filter_type(t1)" ngModel="ทั้งหมด" #t1>
              <option value="ทั้งหมด">ทั้งหมด</option>
              <option value="ซากซ้าย">ซากซ้าย</option>
              <option value="ซากขวา">ซากขวา</option>
            </select>
          </div>
      </div>
      <label class="col-form-label ml-3"><b>ค้นหา</b></label>
      <div class="input-group form-search  ml-3">
        <select class="form-control search-query fcsq2" (change)="dropdown_search(slt)" ngModel="ผู้บ่มซาก" #slt>
          <option value="ผู้บ่มซาก">ชื่อผู้บ่มซาก</option>
          <option value="เบอร์โค">เบอร์โค</option>
          <option value="รหัสซาก">รหัสซาก</option>
          <option value="รหัสบาร์โค้ด">รหัสบาร์โค้ด</option>
          <option value="รหัสคิวอาร์โค้ด">รหัสคิวอาร์โค้ด</option>
        </select>
        <input type="text" class="form-control search-query" id="myInput"(keyup)="searchTable()" ngModel style="height: 33px"/>
      </div>
    </div>
  </div>
  <div class="row r2 justify-content-center">
    <div class="input-group form-inline c2"></div>
    <div class="input-group form-inline c1">
      <label class="label mr-3 mt-2 test"><b>วันที่นำเข้า</b></label>
      <input type="date" class="form-control "id="fc1" (change)="startdate(s1)" [(ngModel)]="start" #s1>
      <div class="input-group-append">
        <span class="input-group-text" id="igt" style="height: 33px"><i style='font-size:24px' class='far'>&#xf073;</i></span>
      </div>
      <label class="label ml-3 mr-3 mt-2" ><b>ถึงวันที่</b></label>
        <input type="date" class="form-control "id="fc2" (change)="enddate(e1)" [(ngModel)]="end" #e1>
        <div class="input-group-append">
          <span class="input-group-text" id="igt" style="height: 33px"><i style='font-size:24px' class='far'>&#xf073;</i></span>
        </div>
        <button type="submit" class="btn ml-3" id="btn1" (click)="searchDate()">ค้นหา <i class="fa fa-search"></i></button>
    </div>
    <div class="input-group form-inline c3"></div>
</div>

  <div class="card shadow p">
    <div class="card-header">
      <h5><i class="fa fa-table"></i> รายการที่ค้นหา</h5>
    </div>
    <div class="card-body">
      <table id="tables">
        <thead>
          <tr>
            <th width=50px>ลำดับ</th>
            <th width=90px>วันที่บ่มเสร็จ</th>
            <th width=70px>เวลา</th>
            <th width=70px>จำนวนวันบ่ม</th>
            <th width=100px>ประเภทซาก</th>
            <th width=90px>เบอร์โค</th>
            <th width=90px>รหัสซาก</th>
            <th width=120px>รหัสบาร์โค้ด</th>
            <th width=120px>รหัสคิวอาร์โค้ด</th>
            <th width=70px>น้ำหนักอุ่น</th>
            <th width=50px>ห้อง</th>
            <th width=120px>สถานะ</th>
            <th>ผู้บ่มซาก</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of datass ;let i = index">
            <td width=50px>{{ i+1 }}</td>
            <td width=90px>{{ d.date_aging | date: 'dd-MM-yyyy' }}</td>
            <td width=70px>{{ d.date | date: 'HH:mm น.' }}</td>
            <td width=70px>{{ d.day_aging }}</td>
            <td width=100px>{{ d.type }}</td>
            <td width=90px>{{ d.cow_code }}</td>
            <td width=90px>{{ d.code }}</td>
            <td width=120px>{{ d.barcode }}</td>
            <td width=120px>{{ d.qr_code }}</td>
            <td width=70px>{{ d.weight }}</td>
            <td width=50px>{{ d.room }}</td>
            <td width=120px>{{ d.status }}</td>
            <td>{{ d.aging_name }}</td>
          </tr>
        </tbody>
      </table>
      <div class="text-right ml-auto">
        <h6><strong>จำนวนซากเนื้อโค {{ count }} รายการ</strong></h6>
        <h6><strong>น้ำหนักอุ่น <strong id="w1">{{ count_weight }}</strong> กิโลกรัม</strong></h6>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="nav_button"><button type="button" class="btn mr-3" id="btn3" (click)="report_c()"><i class="fa fa-print"></i> รายงานสรุป </button></div>
    <div class="nav_button"><button type="button" class="btn" id="btn2" (click)="report()"><i class="fa fa-print"></i> รายงานปกติ </button></div>
    </div>
</div>

