@media only screen and (max-width:1920px){
  .navbar{
    height: 75px;
    font-weight: bold;
  }
  .navbar-icon{
    height: 50px;
    width: 50px;
  }
  .head{
    color: #ffffff;
  }
  .fas{
    vertical-align: -2px;
  }
  .fa{
    vertical-align: -2px;
  }

  /* ================= menu =================== */
  button{
    font-weight: bold;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #003171;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    /* text-align: center; */
    padding-top: 25px;
    padding-bottom: 25px;
    text-decoration: none;
    transition: all 0.5s ease;
    /* vertical-align: 3px; */
  }

  li a:hover {
    transition: all 0.5s ease;
    background-color: rgb(0, 110, 255);
  }
  div ul li a{
    padding-left: 20px;
    padding-right: 20px;
  }

  /* ================= dropdown =================== */
  .dropbtn {
    background-color: #003171;
    color: white;
    width: 100%;
    padding: 13px;
    border: none;
    font-size: 16px;
    height: 52px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  div button{
    padding-left: 20px;
    padding-right: 20px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #003171 ;
    /* width: cover; */
    margin-top: -2px;
  }

  .dropdown-content a {
    display: block;
    color: white;
    padding: 13px 20px;
    text-decoration: none;
    text-align: left;
    /* width: auto; */
  }

  .dropdown-content a:hover {
    background-color:rgb(0, 86, 199);
    transition: all 0.5s ease;
    width: auto;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color:rgb(0, 110, 255);
    transition: all 0.5s ease;
  }

  .dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    width: 100px;
    /* margin-top: -2px;
    margin-left: -1px; */
    padding: 0;
  }

  .dropdown-submenu:hover>.dropdown-menu {
    display: block;
    top: 0;
    left: 100%;
    width: 100px;
    /* margin-top: -2px;
    margin-left: -2px; */
    padding: 0;
    background-color: #003171;
  }

  .material-icons{
    font-size: 1.25rem;
    vertical-align: -5px;
  }

}


@media only screen and (max-width:1400px){
  .navbar{
    height: 52px;
  }
  .navbar-icon{
    height: 40px;
    width: 40px;
  }
  .head{
    color: #ffffff;
  }
  .fas{
    vertical-align: -2px;
  }
  .fa{
    vertical-align: -2px;
  }

  /* ================= menu =================== */
  a{
    font-weight: normal;
  }
  button{
    font-weight: normal;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #003171;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    text-decoration: none;
    transition: all 0.5s ease;
  }

  li a:hover {
    transition: all 0.5s ease;
    background-color: rgb(0, 110, 255);
  }
  div ul li a{
    padding-left: 20px;
    padding-right: 20px;
  }

  /* ================= dropdown =================== */
  .dropbtn {
    background-color: #003171;
    color: white;
    width: 100%;
    /* vertical-align: 20px; */
    /* padding-top: 17px; */
    /* padding-bottom: 35px; */
    /* text-align: center; */
    border: none;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  div button{
    padding-left: 20px;
    padding-right: 20px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #003171 ;
    /* width: cover; */
    /* margin-top: -3px; */
  }

  .dropdown-content a {
    display: block;
    color: white;
    padding: 13px 20px;
    text-decoration: none;
    /* text-align: center; */
    /* width: auto; */
  }

  .dropdown-content a:hover {
    background-color:rgb(0, 86, 199);
    transition: all 0.5s ease;
    width: auto;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color:rgb(0, 110, 255);
    transition: all 0.5s ease;
  }

  .dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    width: 100px;
    /* margin-top: -2px;
    margin-left: -1px; */
    padding: 0;
  }

  .dropdown-submenu:hover>.dropdown-menu {
    display: block;
    top: 0;
    left: 100%;
    width: 100px;
    /* margin-top: -2px;
    margin-left: -2px; */
    padding: 0;
    background-color: #003171;
  }

  .material-icons{
    font-size: 1.25rem;
    vertical-align: -5px;
  }

  .active {
    background-color: rgb(0, 110, 255) !important;
  }

  #dd00 {
    height: 30px;
    width: 30px;
  }

  #dd55{
    width: 20px;
    height: 20px;
  }

  #dd66{
    width: 20px;
    height: 20px;
  }
}
