<!-- ก่อน login -->
<nav class="navbar navbar-dark navbar-expand-xl fixed-top" style="background-color: #003171" [hidden]="isLogin">
  <a routerLink="/"><img class="navbar-icon" src="https://www.img.in.th/images/c9d93cbbec4c3cd936ff4dd4d1c56dff.png"></a>
  <a routerLink="/" class="head nav-link">ระบบการจัดการสหกรณ์</a>

  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
    </div>
  </div>


  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <ul>
        <li class="nav-item">
          <a [routerLink]="['/sign-in']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <i class="fas fa-sign-in-alt" style="margin-right: 5px"></i>เข้าสู่ระบบ
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/sign-up']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <i class="fas fa-user-plus"></i> สมัครสมาชิก
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <!-- เมื่อ login แล้ว -->
<nav class="navbar navbar-dark navbar-expand-xl fixed-top" style="background-color: #003171" [hidden]="!afterLogin">
  <a routerLink="/dashboard2"><img class="navbar-icon" src="https://www.img.in.th/images/c9d93cbbec4c3cd936ff4dd4d1c56dff.png"></a>
  <a routerLink="/dashboard2" class="head nav-link" style="margin-right: 50px">ระบบการจัดการสหกรณ์</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <ul>
        <li class="nav-item">
          <a class="text-light nav-link">ระบบสหกรณ์</a>  <!--<i class="fas fa-file-import" style="margin-right: 5px"></i>-->
        </li>
        <li class="nav-item">
          <a class="text-light nav-link">ระบบนำเข้าโค</a>
        </li>
        <li class="nav-item">
          <a class="text-light nav-link" (click)="goSystem_test1()">ระบบแปรรูปโค</a>
        </li>
        <li class="nav-item">
          <a class="text-light nav-link" (click)="goSystem1()">ระบบคลังชิ้นเนื้อ</a>
        </li>
        <li class="nav-item">
          <a class="text-light nav-link" (click)="goSystem2()">ระบบการตัดเกรดเนื้อโค</a>
        </li>
        <li class="nav-item">
          <a class="text-light nav-link" (click)="goSystem_test2()">ระบบจำหน่าย</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <div class="dropdown">
          <button class="dropbtn" routerLink="/setting" routerLinkActive="active">
            <i class="fas fa-user"></i>&nbsp;คุณ {{user}}&nbsp;<i class="fa fa-caret-down"></i>&nbsp;
          </button>
          <div class="dropdown-content" style="width: 150px">
            <a routerLink="/privilege" [hidden]="privilege_id !== '1'"><i class="fas fa-user-cog"></i> ตั้งค่าสิทธิ์ผู้ใช้งาน</a>
            <a routerLink="/dashboard" (click)="logout()"><i class="fas fa-sign-out-alt"></i> ออกจากระบบ</a>
          </div>
        </div>
    </div>
  </div>
</nav>

  <!-- หลัง login (ตัดเกรด) -->
<nav class="navbar navbar-dark navbar-expand-xl fixed-top" style="background-color: #003171" [hidden]="!user1">
  <a routerLink="/beefgrading"><img class="navbar-icon" src="https://www.img.in.th/images/c9d93cbbec4c3cd936ff4dd4d1c56dff.png"></a>
  <a routerLink="/beefgrading" class="head nav-link" style="margin-right: 50px; color: white">ระบบการตัดเกรดเนื้อโค</a>

  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <ul>
        <li class="nav-item">
          <a class="text-light nav-link" routerLink="/beefgrading">
            <i class="material-icons" style="margin-right: 5px">home</i>หน้าแรก
          </a>
        </li>
        <li class="nav-item">
          <a class="text-light nav-link" routerLink="/listcattle">
            <i class="material-icons" style="margin-right: 5px">format_list_bulleted</i>รายการซากโค
          </a>
        </li>
        <li class="nav-item">
          <a class="text-light nav-link" routerLink="/sumgrading">
            <i class="material-icons" style="margin-right: 5px">assignment_turned_in</i>สรุปเกรด
          </a>
        </li>
        <li class="nav-item">
          <a class="text-light nav-link" routerLink="/history">
            <i class="material-icons" style="margin-right: 5px">history</i>ประวัติการตัดเกรด
          </a>
        </li>
        <li class="nav-item">
          <a class="text-light nav-link" routerLink="/configsys">
            <i class="fa fa-cogs" style="margin-right: 5px"></i>การตั้งค่า
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <!-- <div class="dropdown">
        <button class="dropbtn" style="width: auto;text-align: right">
          <i class="fa fa-bell" style="margin-right: 3px"></i>
          แจ้งเตือน
          <i class="fa fa-caret-down" style="margin-left: 3px"></i>
        </button>
        <div class="dropdown-content" style="width: 180px">
          <a routerLink="/"><i class="fa fa-cogs"></i> ตั้งค่าแจ้งเตือน</a>
        </div>
      </div> -->
      <div class="dropdown">
        <button class="dropbtn" style="width:auto;text-align: right">
          <i class="material-icons">person</i>
          คุณ {{user}}
          <i class="fa fa-caret-down" style="margin-left: 5px"></i>
        </button>
        <div class="dropdown-content" style="width: 180px">
          <a routerLink="/dashboard2" (click)=test()><i class="fas fa-chevron-left" style="margin-right: 3px"></i>กลับสู่หน้าหลัก</a>
          <a routerLink="/editprofile"><i class="fas fa-user-edit" style="margin-right: 3px" ></i>ข้อมูลผู้ใช้งาน</a>
          <a routerLink="/dashboard" (click)="logout()"><i class="fas fa-sign-out-alt" style="margin-right: 3px; vertical-align: -1px"></i>ออกจากระบบ</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- หลัง login (คลัง) -->
<nav class="navbar navbar-dark navbar-expand-xl fixed-top" style="background-color: #003171" [hidden]="!user2">
  <a routerLink="/dashboard_store"><img class="navbar-icon" src="/assets/1.png"></a>
  <a class="head nav-link" routerLink="/dashboard_store" style="margin-right: 50px; color: white">ระบบคลังชิ้นเนื้อ</a>

  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <div class="dropdown">
        <button class="dropbtn" style="padding-top: 10px" routerLink="/menu1" routerLinkActive="active"><img id="dd00" src="/assets/1111.png" stype="vertical-align: 0px"> การบ่มซาก <i class="fa fa-caret-down"></i></button>
        <div class="dropdown-content" style="width: 140px">
          <a routerLink="/menu1/aging">บ่มซากเนื้อโค</a>
          <a routerLink="/menu1/history-order">ประวัติการบ่ม</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn" routerLink="/menu2" routerLinkActive="active"><img class="navbar-icon" id="dd55" src="/assets/999.png" style="vertical-align: -20%;"> การนำเข้า <i class="fa fa-caret-down"></i></button>
        <div class="dropdown-content" style="width: 125px">
          <a routerLink="/menu2/import-t1">ประวัติการนำเข้า</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn" routerLink="/menu3" routerLinkActive="active"><img class="navbar-icon" id="dd66" src="/assets/888.png" style="vertical-align: -20%;"> การเบิกออก <i class="fa fa-caret-down"></i></button>
        <div class="dropdown-content" style="width: 135px">
          <a routerLink="/menu3/order-t1">ประวัติการเบิกออก</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn" routerLink="/menu4" routerLinkActive="active"><i class='fas fa-home' style="font-size: 20px"></i>&nbsp;คลัง&nbsp;<i class="fa fa-caret-down"></i></button>
        <div class="dropdown-content" style="width: 98px">
          <a routerLink="/menu4/store-t1">ยอดคงคลัง</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn" routerLink="/menu5" routerLinkActive="active"><i class='fas fa-file-pdf' style="font-size: 18px"></i>&nbsp;ออกรายงาน&nbsp;<i class="fa fa-caret-down"></i></button>
        <div class="dropdown-content" style="width: 150px">
          <a routerLink="/menu5/report1-t1">ออกรายงานนำเข้า</a>
          <a routerLink="/menu5/report2-t1">ออกรายงานเบิกออก</a>
          <a routerLink="/menu5/report3">ออกรายงานบ่มซาก</a>
          <a routerLink="/menu5/report4-t1">ออกรายงานคงคลัง</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn" routerLink="/menu6" routerLinkActive="active"><i class="material-icons" style="font-size: 20px">&#xe7f7;</i>&nbsp;การแจ้งเตือน&nbsp;<i class="fa fa-caret-down"></i></button>
        <div class="dropdown-content" style="width: 140px">
          <a routerLink="/menu6/notification-t1">การแจ้งเตือนระบบ</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn" routerLink="/menu7" routerLinkActive="active"><i class="fas fa-cogs"></i> ตั้งค่า <i class="fa fa-caret-down"></i></button>
        <div class="dropdown-content" style="width: 135px">
          <a routerLink="/menu7/all-setting">การตั้งค่าระบบ</a>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <div class="dropdown">
        <button class="dropbtn" routerLink="/setting" routerLinkActive="active"><i class="fas fa-user"></i> คุณ {{user}} <i class="fa fa-caret-down"></i></button>
        <div class="dropdown-content" style="width: 140px">
          <a routerLink="/dashboard2" (click)=test()><i class='fas fa-chevron-left'></i>&nbsp;กลับสู่หน้าหลัก</a>
          <a routerLink="/setting/edit-profile"><i class="fas fa-edit"></i>&nbsp;แก้ไขบัญชี</a>
          <a routerLink="/dashboard" (click)="logout()"><i class="fas fa-sign-out-alt"></i>&nbsp;ออกจากระบบ</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<nav class="navbar navbar-dark navbar-expand-xl fixed-top" style="background-color: #003171" [hidden]="!user_test1">
    <a><img class="navbar-icon" src="https://www.img.in.th/images/c9d93cbbec4c3cd936ff4dd4d1c56dff.png"></a>
    <a class="head nav-link" style="margin-right: 50px;color: white">ระบบแปรรูปโค</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <ul>
          <li class="nav-item">
            <a class="text-light nav-link">จำลองการนำเข้าจากแผนกแปรรูปโค</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <div class="dropdown">
            <button class="dropbtn" routerLink="/setting" routerLinkActive="active">
              <i class="fas fa-user"></i>&nbsp;คุณ {{user}}&nbsp;<i class="fa fa-caret-down"></i>&nbsp;
            </button>
            <div class="dropdown-content" style="width: 150px">
              <a routerLink="/dashboard2" (click)=test()><i class='fas fa-chevron-left'></i>&nbsp;กลับสู่หน้าหลัก</a>
              <a routerLink="/dashboard" (click)="logout()"><i class="fas fa-sign-out-alt"></i> ออกจากระบบ</a>
            </div>
          </div>
      </div>
    </div>
  </nav>

  <nav class="navbar navbar-dark navbar-expand-xl fixed-top" style="background-color: #003171" [hidden]="!user_test2">
      <a><img class="navbar-icon" src="https://www.img.in.th/images/c9d93cbbec4c3cd936ff4dd4d1c56dff.png"></a>
      <a class="head nav-link" style="margin-right: 50px;color: white">ระบบจำหน่าย</a>
      <div class="navbar-expand mr-auto">
        <div class="navbar-nav">
          <ul>
            <li class="nav-item">
              <a class="text-light nav-link">จำลองการส่งคำร้องของแผนกจำหน่าย</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="navbar-expand ml-auto navbar-nav">
        <div class="navbar-nav">
          <div class="dropdown">
              <button class="dropbtn" routerLink="/setting" routerLinkActive="active">
                <i class="fas fa-user"></i>&nbsp;คุณ {{user}}&nbsp;<i class="fa fa-caret-down"></i>&nbsp;
              </button>
              <div class="dropdown-content" style="width: 150px">
                <a routerLink="/dashboard2" (click)=test()><i class='fas fa-chevron-left'></i>&nbsp;กลับสู่หน้าหลัก</a>
                <a routerLink="/dashboard" (click)="logout()"><i class="fas fa-sign-out-alt"></i> ออกจากระบบ</a>
              </div>
            </div>
        </div>
      </div>
    </nav>
