<div class="header">
  <p class="text-center"><strong>การแจ้งเตือน</strong></p>

  <div class="row col r1">
    <div class="t1 col-3">
      <div class="card shadow p">
        <div class="card-header">
          <a><i class="material-icons">&#xe7f7;</i>&nbsp;ประเภทการแจ้งเตือน</a>
        </div>
        <div class="card-body c1">
          <div class="row aa">
            <button type="button" class="btn ml-1" routerLink="/menu6/notification-t1">วันใกล้หมดอายุ</button>
          </div>
          <div class="row aa">
            <button type="button" class="btn ml-1" routerLink="/menu6/notification-t2">คำร้องขอเบิก</button>
        </div>
        <div class="row aa">
            <button type="button" class="btn  ml-1" routerLink="/menu6/notification-t3">ครบกำหนดวันบ่ม</button>
        </div>
          <div class="row aa">
            <button type="button" class="btn ml-1"  routerLink="/menu6/notification-t4">การนำเข้า</button>
          </div>
          <div class="row aa">
            <button type="button" class="btn ml-1"id="active" routerLink="/menu6/notification-t5">การเบิกออก</button>
          </div>
        </div>
      </div>
    </div>
    <div class="t2 col-9">
      <div class="card shadow p">
        <div class="card-header"><a>&nbsp;&nbsp;รายการเบิกออก</a></div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="text-center2"><label><b>รายการเบิกออกปัจจุบัน</b></label></div>
              <table>
                <thead>
                    <tr>
                        <th width=40>ลำดับ</th>
                        <th width=80>วันเบิกออก</th>
                        <th width=80>เวลาเบิกออก</th>
                        <th width=50>จำนวน</th>
                        <th width=120>ผู้เบิกออก</th>
                        <th>รายละเอียด</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td width=40>1</td>
                        <td width=80>วว-ดด-ปปปป</td>
                        <td width=80>00.00 น.</td>
                        <td width=50>1</td>
                        <td width=120>-</td>
                        <td>
                            <button class="btn bt1" data-toggle="modal" data-target="#notifi"><i class="fa">&#xf101;</i></button>
                        </td>
                      </tr>
                </tbody>
              </table>
            </div>
            <div
  class="modal fade"
  id="notifi"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header"><b>รายละเอียดเพิ่มเติม</b></div>
      <div class="modal-body">
        <table>
          <thead>
            <tr>
              <th width="60px">ลำดับ</th>
              <th width="160px">ประเภทซาก</th>
              <th width="95px">เบอร์โค</th>
              <th width="95px">รหัสซาก</th>
              <th width="115px">รหัสบาร์โค้ดซาก</th>
              <th width="115px">รหัสคิวอาร์โค้ด</th>
              <th width="50px">ห้อง</th>
              <th width="50px">ชั้น</th>
              <th width="50px">ตะกร้า</th>
              <th width="140px">ผู้ขอเบิก</th>
              <th>สถานะ</th>
            </tr>
          </thead>
          <tbody class="tt">
            <tr>
              <td width="60px">1</td>
              <td width="160px">-</td>
              <td width="95px">000000</td>
              <td width="95px">000000</td>
              <td width="115px">000000000000000</td>
              <td width="115px">000000000000000</td>
              <td width="50px">-</td>
              <td width="50px">-</td>
              <td width="50px">-</td>
              <td width="140px">-</td>
              <td>-</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

            <div class="col">
                <div class="text-center2"><label><b>สถิติการเบิกออก</b></label></div>
                <table>
                  <thead>
                    <tr>
                      <th width=50>ลำดับ</th>
                      <th width=180>ประเภท</th>
                      <th width=90>จำนวนเบิกออก</th>
                      <th >น้ำหนักซาก (กก.)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td width=50>1</td>
                      <td width=180>ซากเนื้อโคซ้าย</td>
                      <td width=90>0</td>
                      <td >000.00</td>
                    </tr>
                    <tr>
                      <td width=50>2</td>
                      <td width=180>ซากเนื้อโคขวา</td>
                      <td width=90>0</td>
                      <td >000.00</td>
                    </tr>
                    <tr>
                      <td width=50>3</td>
                      <td width=180>ซากเนื้อโคซ้ายบน</td>
                      <td width=90>0</td>
                      <td >000.00</td>
                    </tr>
                    <tr>
                      <td width=50>4</td>
                      <td width=180>ซากเนื้อโคซ้ายล่าง</td>
                      <td width=90>0</td>
                      <td >000.00</td>
                    </tr>
                    <tr>
                      <td width=50>5</td>
                      <td width=180>ซากเนื้อโคขวาบน</td>
                      <td width=90>0</td>
                      <td >000.00</td>
                    </tr>
                    <tr>
                      <td width=50>6</td>
                      <td width=180>ซากเนื้อโคขวาล่าง</td>
                      <td width=90>0</td>
                      <td >000.00</td>
                    </tr>
                    <tr>
                      <td width=50>7</td>
                      <td width=180>เนื้อน่อง</td>
                      <td width=90>0</td>
                      <td >000.00</td>
                    </tr>
                    <tr>
                      <td width=50>8</td>
                      <td width=180>เนื้อสะโพกนอก</td>
                      <td width=90>0</td>
                      <td >000.00</td>
                    </tr>
                    <tr>
                      <td width=50>9</td>
                      <td width=180>เนื้อลูกมะพร้าว</td>
                      <td width=90>0</td>
                      <td >000.00</td>
                    </tr>
                    <tr>
                      <td width=50>10</td>
                      <td width=180>เนื้อทีโบน</td>
                      <td width=90>0</td>
                      <td >000.00</td>
                    </tr>
                    <tr>
                      <td width=50>11</td>
                      <td width=180>เนื้อสันสะโพก</td>
                      <td width=90>0</td>
                      <td >000.00</td>
                    </tr>
                    <tr>
                      <td width=50>12</td>
                      <td width=180>เนื้อหางสันสะโพก</td>
                      <td width=90>0</td>
                      <td >000.00</td>
                    </tr>
                    <tr>
                      <td width=50>13</td>
                      <td width=180>เนื้อสันนอก</td>
                      <td width=90>0</td>
                      <td >000.00</td>
                    </tr>
                    <tr>
                      <td width=50>14</td>
                      <td width=180>เนื้อใบบัวสเต๊ก</td>
                      <td width=90>0</td>
                      <td >000.00</td>
                    </tr>
                    <tr>
                      <td width=50>15</td>
                      <td width=180>เนื้อสะโพกใน</td>
                      <td width=90>0</td>
                      <td >000.00</td>
                    </tr>
                    <tr>
                      <td width=50>16</td>
                      <td width=180>เนื้อสันใน</td>
                      <td width=90>0</td>
                      <td >000.00</td>
                    </tr>
                    <tr>
                      <td width=50>17</td>
                      <td width=180>เนื้อสันใน</td>
                      <td width=90>0</td>
                      <td >000.00</td>
                    </tr>
                    <tr>
                      <td width=50>18</td>
                      <td width=180>เนื้อสันกลางถอดกระดูก</td>
                      <td width=90>0</td>
                      <td >000.00</td>
                    </tr>
                    <tr>
                      <td width=50>19</td>
                      <td width=180>เนื้อซี่โครงติดกระดูก</td>
                      <td width=90>0</td>
                      <td >000.00</td>
                    </tr>
                    <tr>
                      <td width=50>20</td>
                      <td width=180>เนื้อใบพาย</td>
                      <td width=90>0</td>
                      <td >000.00</td>
                    </tr>
                    <tr>
                      <td width=50>21</td>
                      <td width=180>เนื้อปลาช่อน</td>
                      <td width=90>0</td>
                      <td >000.00</td>
                    </tr>
                    <tr>
                      <td width=50>22</td>
                      <td width=180>เนื้อเสือร้องไห้</td>
                      <td width=90>0</td>
                      <td >000.00</td>
                    </tr>
                    <tr>
                      <td width=50>23</td>
                      <td width=180>เนื้อรักบี้</td>
                      <td width=90>0</td>
                      <td >000.00</td>
                    </tr>
                    <tr>
                      <td width=50>24</td>
                      <td width=180>เนื้อสันไหล่</td>
                      <td width=90>0</td>
                      <td >000.00</td>
                    </tr>
                    <tr>
                      <td width=50>25</td>
                      <td width=180>เครื่องใน</td>
                      <td width=90>0</td>
                      <td >000.00</td>
                    </tr>
                    <tr>
                      <td width=50>26</td>
                      <td width=180>หัว</td>
                      <td width=90>0</td>
                      <td >000.00</td>
                    </tr>
                    <tr>
                      <td width=50>27</td>
                      <td width=180>หาง</td>
                      <td width=90>0</td>
                      <td >000.00</td>
                    </tr>
                    <tr>
                      <td width=50>28</td>
                      <td width=180>หนัง</td>
                      <td width=90>0</td>
                      <td >000.00</td>
                    </tr>
                    <tr>
                      <td width=50>29</td>
                      <td width=180>ขา</td>
                      <td width=90>0</td>
                      <td >000.00</td>
                    </tr>
                    <tr>
                      <td width=50>30</td>
                      <td width=180>ไขมัน</td>
                      <td width=90>0</td>
                      <td >000.00</td>
                    </tr>
                    <tr>
                      <td width=50>31</td>
                      <td width=180>อองเร</td>
                      <td width=90>0</td>
                      <td >000.00</td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
