<nav
  class="navbar navbar-expand-xl navbar-light"
  style="margin-top:65px; margin-bottom:20px"
>
  <!-- <div class="container-fluid"> -->
  <div class="card">
    <form class="form-inline">
      <div class="row card-body">
        <div class="col text-center">
          <button
            routerLink="/configsys"
            class="btn btn-outline-success"
            type="button"
            style="margin-right:10px"
          >
            <i class="material-icons" style="margin-right: 5px">settings</i
            >ตั้งค่าระบบ
          </button>

          <button
            routerLink="/noti"
            class="btn btn-outline-success"
            type="button"
            style="margin-right:10px"
          >
            <i class="material-icons" style="margin-right: 3px">settings</i
            >ตั้งค่าการแจ้งเตือน
          </button>

          <button
            routerLink="/configgrade"
            class="btn btn-outline-success"
            type="button"
            style="margin-right:10px"
          >
            <i class="material-icons" style="margin-right: 3px">settings</i
            >ตั้งค่าเกณฑ์การตัดเกรด
          </button>

          <!-- <button
            routerLink="/configuser"
            class="btn btn-outline-success"
            type="button"
            style="margin-right:10px"
          >
            <i class="material-icons" style="margin-right: 3px">settings</i
            >จัดการบัญชีผู้ใช้งาน
          </button> -->

          <button
            routerLink="/editprofile"
            class="btn btn-outline-success"
            type="button"
            style="margin-right:10px"
          >
            <i class="material-icons" style="margin-right: 3px">settings</i
            >แก้ไขบัญชีผู้ใช้งาน
          </button>

          <button
            routerLink="/addcattle"
            class="btn btn-outline-success"
            type="button"
            style="margin-right:10px"
          >
            <i class="material-icons" style="margin-right: 3px">library_add</i
            >เพิ่มโค
          </button>
        </div>
      </div>
    </form>
  </div>
  <!-- </div> -->
</nav>
