<div class="header">
  <p class="text-center"><strong>การแจ้งเตือน</strong></p>
  <div class="row col r1">
    <div class="t1 col-3">
      <div class="card shadow p">
        <div class="card-header">
          <a><i class="material-icons">&#xe7f7;</i>&nbsp;ประเภทการแจ้งเตือน</a>
        </div>
        <div class="card-body c1">
          <div class="row aa">
            <button type="button" class="btn  ml-1" id="active" routerLink="/menu6/notification-t1">วันใกล้หมดอายุ</button></div>
           <div class="row aa">
              <button type="button" class="btn  ml-1" routerLink="/menu6/notification-t2">คำร้องขอเบิก</button>
          </div>
          <div class="row aa">
              <button type="button" class="btn  ml-1" routerLink="/menu6/notification-t3">ครบกำหนดวันบ่ม</button>
          </div>
          <div class="row aa">
            <button type="button" class="btn  ml-1" routerLink="/menu6/notification-t4">การนำเข้า</button>
          </div>
          <div class="row aa">
            <button type="button" class="btn  ml-1" routerLink="/menu6/notification-t5">การเบิกออก</button>
          </div>

        </div>
      </div>
    </div>
    <div class="t2 col-9">
      <div class="card shadow p">
        <div class="card-header">
          <a><i style="font-size:22px" class="fa">&#xf273;</i>&nbsp;&nbsp;รายการใกล้หมดอายุ</a>
        </div>
        <div class="card-body">
          <table>
            <thead>
              <tr>
                <th width="40px">ลำดับ</th>
                <th width="100px">วันที่ปัจจุบัน</th>
                <th width="120px">ประเภทซาก</th>
                <th width="40px">อายุซาก</th>
                <th width="40px">จำนวนรายการ</th>
                <th width="50px">รายละเอียด</th>
              </tr>
            </thead>
              <tbody>
                <tr>
                  <td width="40px">1</td>
                  <td width="100px">วว-ดด-ปปปป</td>
                  <td width="120px">ประเภทซากที่หมดอายุ</td>
                  <td width="40px">0</td>
                  <td width="40px">1</td>
                  <td width="50px">
                      <button class="btn bt1" data-toggle="modal" data-target="#notifi"><i class="fa">&#xf101;</i></button>

                  </td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="notifi"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header"><b>รายละเอียดเพิ่มเติม</b></div>
      <div class="modal-body">
        <table>
          <thead>
            <tr>
              <th width="60px">ลำดับ</th>
              <th width="100px">ประเภทซาก</th>
              <th width="80px">เบอร์โค</th>
              <th width="80px">รหัสซาก</th>
              <th width="120px">รหัสบาร์โค้ดซาก</th>
              <th width="120px">รหัสคิวอาร์โค้ด</th>
              <th width="50px">ห้อง</th>
              <th width="50px">ชั้น</th>
              <th width="50px">ตะกร้า</th>
              <th width="100px">สถานะ</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td width="60px">1</td>
              <td width="100px">-</td>
              <td width="80px">000000</td>
              <td width="80px">000000</td>
              <td width="120px">000000000000000</td>
              <td width="120px">000000000000000</td>
              <td width="50px">-</td>
              <td width="50px">-</td>
              <td width="50px">-</td>
              <td width="100px">-</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="nav_button" style="margin-bottom: 15px" >
        <button type="button" class="btn" id="btn2"><i class="fa fa-print"></i> พิมพ์รายการ </button>
    </div>
    </div>
  </div>
</div>
