<div class="header">
  <p class="text-center"><strong>การแจ้งเตือน</strong></p>
  <div class="row col r1">
    <div class="t1 col-3">
      <div class="card shadow p">
        <div class="card-header">
          <a><i class="material-icons">&#xe7f7;</i>&nbsp;ประเภทการแจ้งเตือน</a>
        </div>
        <div class="card-body c1">
          <div class="row aa">
            <button type="button" class="btn  ml-1" id="active" routerLink="/menu6/notification-t1">วันใกล้หมดอายุ</button></div>
           <div class="row aa">
              <button type="button" class="btn  ml-1" routerLink="/menu6/notification-t2">คำร้องขอเบิก</button>
          </div>
          <div class="row aa">
              <button type="button" class="btn  ml-1" routerLink="/menu6/notification-t3">ครบกำหนดวันบ่ม</button>
          </div>
          <div class="row aa">
            <button type="button" class="btn  ml-1" routerLink="/menu6/notification-t4">การนำเข้า</button>
          </div>
          <div class="row aa">
            <button type="button" class="btn  ml-1" routerLink="/menu6/notification-t5">การเบิกออก</button>
          </div>
        </div>
      </div>
    </div>
    <div class="t2 col-9">
      <div class="card shadow p">
        <div class="card-header">
          <a><i class="fa fa-table"></i>&nbsp;รายการใกล้หมดอายุ</a>
        </div>
        <div class="card-body">
          <table>
            <thead>
              <tr>
                <th width="160px">ลำดับ</th>
                <th width="180px">วันที่ปัจจุบัน</th>
                <th width="180px">จำนวนรายการ</th>
                <th width="200px">รายละเอียด</th>
                <th>ลบ</th>
              </tr>
            </thead>
              <tbody>
                <tr>
                  <td width="160px">1</td>
                  <td width="180px">19-12-2018</td>
                  <td width="180px">2</td>
                  <td width="200px">
                    <button class="btn bt1" data-toggle="modal" data-target="#notifi"><i class='fas'>&#xf002;</i></button>
                  </td>
                  <td>
                    <button class="btn" id="btn3"><i class="material-icons">&#xe872;</i></button>
                  </td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="notifi"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header"><b>รายละเอียดเพิ่มเติม</b></div>
      <div class="modal-body">
        <table>
          <thead>
            <tr>
              <th width="60px">ลำดับ</th>
              <th width="100px">ประเภทซาก</th>
              <th width="80px">เบอร์โค</th>
              <th width="80px">รหัสซาก</th>
              <th width="120px">รหัสบาร์โค้ดซาก</th>
              <th width="120px">รหัสคิวอาร์โค้ด</th>
              <th width="50px">อายุ</th>
              <th width="50px">ห้อง</th>
              <th width="50px">ชั้น</th>
              <th width="50px">ตะกร้า</th>
              <th width="100px">สถานะ</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td width="60px">1</td>
              <td width="100px">เนื้อสันกลางถอดกระดูก</td>
              <td width="80px">611219</td>
              <td width="80px">000001</td>
              <td width="120px">6125610001000</td>
              <td width="120px">6125610001100</td>
              <td width="50px">7</td>
              <td width="50px">2</td>
              <td width="50px">1</td>
              <td width="50px">3</td>
              <td width="100px">ตัดแต่ง (ก้อน) แล้ว</td>
            </tr>
            <tr>
              <td width="60px">1</td>
              <td width="100px">เนื้อสันใน</td>
              <td width="80px">611220</td>
              <td width="80px">000002</td>
              <td width="120px">6125610002000</td>
              <td width="120px">6125610002100</td>
              <td width="50px">12</td>
              <td width="50px">2</td>
              <td width="50px">1</td>
              <td width="50px">4</td>
              <td width="100px">ตัดแต่ง (ก้อน) แล้ว</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="nav_button" style="margin-bottom: 15px" >
        <button type="button" class="btn" id="btn2"><i class="fa fa-print"></i> พิมพ์รายการ </button>
    </div>
    </div>
  </div>
</div>
